[2015-05-05 23:27] mohsen1 opened #1 "Consider using the swagger-convertor for Swagger@1.2 to Swagger@2.0 convention"
A lot of work has done [here](https://github.com/apigee-127/swagger-converter) already. Consider re-using that work!

:smile:

[2015-05-05 23:28] mohsen1 commented on #1
oops! my bad [you are already using it](https://github.com/lucybot/api-spec-converter/blob/master/package.json#L28)

Let us know if you need any help with that

[2015-05-05 23:28] #1 closed

[2015-05-16 10:03] IvanGoncharov opened #2 "Merging RAML and Google Discovery converters"
Hi,
I'm also working at the same field and implement [converter](https://github.com/APIs-guru/google-discovery-to-swagger) for Google Discovery [format](https://developers.google.com/discovery/v1/reference/apis).
Also I'm working on RAML [converter](https://github.com/APIs-guru/raml-to-swagger) it's ~80% finished.
If you interested I can merge my code into your project.

P.S. I can't find any lice

[2015-05-18 14:03] IvanGoncharov opened #4 "Test is broken due to changes in 'gettyimages.com'"
IMHO, problem is little bit deeper than simply update expected 2.0 spec.
I think it better to limit influence of 3rd-party services, and switch on fully synthetic tests, like this:
https://raw.githubusercontent.com/apigee-127/swagger-converter/master/test/input/petstore/index.json

[2015-05-18 16:32] bobby-brennan commented on #4
Whoops, this was laziness. I groaned when I put a URL in the test, but it was the easiest route.

I'm going to just pull down the petstore swagger so that the tests only depend on local files.

[2015-05-18 16:35] bobby-brennan commented on #2
This is awesome! Let me know when it's ready and I'll merge. Happy to add you as a collaborator too.

Just added a LICENSE (MIT)

[2015-05-18 17:19] IvanGoncharov commented on #4
Thanks, you library saving me tons of time.
And I try to add some features required for my use case, I will create PR in the end.

Another small issue 'package.json' missing 'mocha' as 'devDependencies'.
I also spotted is that you download spec twice:
https://github.com/lucybot/api-spec-converter/blob/master/index.js#L15
https://github.com/lucybot/api-spec-converter/blob/master/lib/types/swagger_1

[2015-05-18 17:46] bobby-brennan commented on #4
added mocha and fixed the tests.

The double download is gone now too...now types are wholly responsible for resolving URLs/files, but base-type has some sensible default behavior (i.e. read the file and try to parse it as YAML or JSON)

[2015-05-18 17:46] #4 closed

[2015-05-18 17:52] IvanGoncharov commented on #4
Wow, you are fast!
Thank you.

[2015-05-18 22:10] IvanGoncharov opened #5 "Update 'test/golden/petstore.json'"
In you local copy you probably using `swagger-converter` version < 1.11
So you have `id` attributes in golden spec, see [this](https://github.com/apigee-127/swagger-converter/commit/2cb115d45b5fce6acaa7d59f4a0e7b4c0c0add5b) commit.

[2015-05-19 15:00] #5 closed

[2015-06-08 16:05] bobby-brennan opened #21 "Add command line usage to README"

[2015-07-27 15:59] bobby-brennan commented on #21
Fixed

[2015-07-27 15:59] #21 closed

[2015-08-16 05:47] holywen opened #32 "remote repository not found during "npm install""
```sudo npm install -g api-spec-converter```
npm ERR! git clone --template=/Users/swen/.npm/_git-remotes/_templates --mirror git://github.com/APIs-guru/json-schema-compatibility.git /Users/swen/.npm/_git-remotes/git-github-com-APIs-guru-json-schema-compatibility-git-5fd7aa58: Cloning into bare repository '/Users/swen/.npm/_git-remotes/git-github-com-APIs-guru-json-schema-compatibility-git-5fd7aa58

[2015-08-16 05:48] holywen commented on #32
It seems the "json-schema-compatibility" repo is no longer exists.

[2015-08-16 09:52] IvanGoncharov commented on #32
@bobby-brennan Can you publish new version to NPM? It should be `1.2.0`.

@holywen Currently NPM have very outdated version of package ~ 2 month old.
It use outdated version of `google-discovery-to-swagger` which in turn use removed  `APIs-guru/json-schema-compatibility`. We try to publish updated package ASAP.
As temporary work around you can use following command: `npm install -g lucybot/api-spe

[2015-08-17 09:15] holywen commented on #32
Thank you @IvanGoncharov
but unfortunately there are still some errors.

sudo npm install -g lucybot/api-spec-converter

'''
gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: EPERM, utime '/Users/swen/.node-gyp/0.12.7'
gyp ERR! stack     at Error (native)
gyp ERR! System Darwin 14.4.0
gyp ERR! command "node" "/usr/local/lib/node_modules/npm/node_mod

[2015-08-17 09:50] IvanGoncharov commented on #32
@holywen It looks like you have problems with `protagonist` package.
Can you please try this command: `npm install protagonist` and attach `npm-debug.log`.
Which OS is you using?

[2015-08-17 13:59] bobby-brennan commented on #32
FYI - Pushed 1.2.0 to npm

Bobby Brennan
bobby.brennan@gmail.com

On Mon, Aug 17, 2015 at 5:50 AM, Ivan Goncharov <notifications@github.com>
wrote:

[2015-08-18 00:47] holywen commented on #32
@IvanGoncharov I'm using MacOSX 10.10.4 (14E46).
I retried today and this time it works!
Thanks a lot for your quick response!

[2015-08-18 05:52] IvanGoncharov commented on #32
@holywen My pleasure.

[2015-08-18 05:52] #32 closed

[2015-10-01 22:00] ducin opened #37 "Support mismatch"
On one hand, you state that supported types are: https://github.com/lucybot/api-spec-converter#supported-types.
On theother hand, the conversion table states, that you can read just few formats and dump them into swagger 2.0: https://github.com/lucybot/api-spec-converter#conversion-table.
IMHO, these information are contradictory...

[2015-10-02 10:27] IvanGoncharov commented on #37
Hi @ducin
We mark format as supported in case if you can download and parse this format and something usefull with it(for e.g. convert to Swagger 2.0).
We don't try to create universal intermediate format which will allow conversation from any format to any format. Instead we think about it as library which aggregate smaller 1to1 conversation libraries and create common facade.
"Conversion Table"

[2015-10-02 10:30] IvanGoncharov commented on #37
@bobby-brennan What do you think?

[2015-10-02 16:54] bobby-brennan commented on #37
The ultimate goal of this project is to be able to convert between any two specifications, but so far have only had the need to convert to Swagger 2.0.

Agreed it's a little confusing, but we need a spot to list all the types that we deal with so we can link to their documentation etc. Hopefully the conversion table makes it clear what operations are supported and what operations aren't.

[2015-10-02 17:01] ducin commented on #37
@bobby-brennan

Yep - that's exactly, what I mean.

Do you include external libraries or do you want to implement them on your own? I mean, there are some libraries, which could fulfill the table. I do know about their existence, but I can't assure their quality, haven't checked them yet.

[2015-10-02 17:28] bobby-brennan commented on #37
Yeah we prefer to use external libraries where possible. For example, we
use google-discover-to-swagger for converting Google's format to Swagger.
Ivan has made a bunch of contributions to the external libraries to resolve
quality issues.

Feel free to suggest other projects, open bugs, or send pull requests.

Bobby Brennan
bobby.brennan@gmail.com

On Fri, Oct 2, 2015 at 1:01 PM, Tomasz Ducin <not

[2015-10-29 02:12] IvanGoncharov commented on #2
It took me more that 4 months but I added them eventually :satisfied:

[2015-10-29 02:12] #2 closed

[2015-11-03 22:05] bobby-brennan opened #46 "Support copy/paste in web UI"

[2015-11-18 20:37] bobby-brennan opened #56 "Browserify - basePath gets set to host?"
In browser:
[code]

prints the current host

[2015-11-18 22:40] #56 closed

[2015-12-02 02:31] aviflax opened #68 "TypeError converting RAML to Swagger 2"
Unfortunately I can’t share my RAML file. If it helps, it’s a little sophisticated; it uses resource types and traits.

[code]

Also, when I specify `--to=swagger_1` I get no output at all.

version 1.4.1 on Node 5.1.0 on Mac OS X 10.11.1.

[2015-12-02 02:45] IvanGoncharov commented on #68
@aviflax It looks like your spec is missing `baseUri`. Can you confirm that?
If so, it very simple fix and I will make it today.
One thing to note is that we added support for RAML only couple week ago.
So you can experience other issues and I would be really grateful if you also report them as separate issues.

Currently we support only `swagger_2` as output format.

[2015-12-02 02:54] aviflax commented on #68
Yup, that’s correct.

I’ve added it to my file and that seems to have corrected this problem — thank you!

Unfortunately I now have a new error:

[code]

That line of code:

[code]

So it looks like this code is requiring that all resources have a `description` property. This conflicts with the RAML 0.8 spec, which says:

So I suggest you remove this assertion. If you do decide to retain it for so

[2015-12-02 02:56] aviflax commented on #68
Hmm actually I might be misunderstanding something here, or there might be a different bug somewhere, because in fact all my resources _do_ have the `description` property with non-blank values.

[2015-12-02 03:00] aviflax commented on #68
Ah I think maybe I misread that line of code… I missed a sneaky little `!` right in there… so it looks like maybe this line is asserting that RAML resources may _not_ have non-blank `description` properties… I don’t understand this but… I’ll try it out.

[2015-12-02 03:02] aviflax commented on #68
Hmm, removing the `description` properties didn’t help… I don’t know, I’m at a loss. Gonna call it a day for now.

[2015-12-02 03:18] IvanGoncharov commented on #68
@aviflax It assert was added to mark not implemented feature.
I will think about some alternative strategy, like report warning or something similar.
Core problem is that Swagger only support per-operation descriptions, so there is no good solution what to do with rest of them.
You can safely remove this assert.
I will also temporarily remove it untill I implement warning feature.

[2015-12-02 09:04] IvanGoncharov commented on #68
@aviflax I updated repo with fixes for both issues.
It not in NPM package yet, but you can use `npm install lucybot/api-spec-converter`

[2015-12-03 09:36] IvanGoncharov commented on #68
@aviflax Did you had a chance to try updated lib?

[2015-12-05 11:59] IvanGoncharov commented on #68
@aviflax We made `1.5.0` release with fix included.
Can you please confirm that it's working?

[2015-12-07 17:40] aviflax commented on #68
Just upgraded with `npm upgrade -g` then tried again:

[code]

FYI this is not urgent on my side, I think I’ve figured out how to make my project work with RAML for now, so I might no longer have the need to convert to Swagger.

[2015-12-07 22:21] aviflax commented on #68
Ah, yeah, thanks @bobby-brennan.

So:

[code]

the top statement is: `assert(_.has(data, 'schema'));` — so apparently the tool is requiring schemas to be defined… I believe this is inconsistent with the RAML spec, which AFAIK makes schemas optional.

[2015-12-07 23:10] IvanGoncharov commented on #68
@aviflax Fixed. Can you update tool using `npm install -g lucybot/api-spec-converter`.

[2015-12-08 00:08] aviflax commented on #68
[code]

[2015-12-08 16:59] IvanGoncharov commented on #68
@aviflax Fixed. Can you please try update version?
`npm install -g lucybot/api-spec-converter`

[2015-12-08 22:22] aviflax commented on #68
[code]

[2015-12-09 12:27] IvanGoncharov commented on #68
@aviflax Fixed. Can you please try updated version?
P.S. Thank you for patience. It really important for us to work with real life RAML files.
Maybe you also have some public RAML specs?

[2015-12-09 22:29] aviflax commented on #68
Progress! It’s now outputting Swagger. Nice work!

That said, I don’t see any of my response headers… could that be maybe because I have some headers defined for a 200 response in a trait, and each method also has a local definition of a 200 response? AFAIK they’re supposed to be merged… anyway I think we can close this, and I’ll see if I can sanitize my RAML and then share it for your test suite.

[2015-12-09 22:29] #68 closed

[2015-12-21 13:18] hiveship opened #72 "Assertion error while converting WADL to Swagger 2"
I am getting an assertion error while trying to convert a WADL source file to it's Swagger 2 representation.

The stack trace is :

    at convertType (/usr/local/lib/node_modules/api-spec-converter/lib/types/wadl.js:56:5)
    at convertParameter (/usr/local/lib/node_modules/api-spec-converter/lib/types/wadl.js:107:19)
    at arrayMap (/usr/local/lib/node_modules/api-spec-converter/node_modules/lo

[2015-12-21 13:28] IvanGoncharov commented on #72
@hiveship `assert(wadlType.indexOf('xsd:') === 0);` checks that typename starts with `xsd:` prefix.
Can you share your WADL file?

Currently WADL conversation isn't mature. We basically tested it only with WADL specs used in Apigee consoles. But you can help by reporting issues with it and we will try to fix it ASAP.

[2015-12-21 13:32] hiveship commented on #72
Here is my WADL file, I think it is valid since it can be computed by the
Maven plugin "WADL to JAVA" and generate a client SDK.
I do not provide all the .xsd imports, I don't think thaty
"api-spec-converters" need them to process conversion ?

2015-12-21 14:28 GMT+01:00 Ivan Goncharov <notifications@github.com>:

--

*Maëlig NANTEL*
Mobile : +33 (0)6 69 47 39 00
Mail : *maelig.nantel@gmail.com <m

[2015-12-21 13:37] IvanGoncharov commented on #72
@hiveship I don't see your attachment, can you submit it through Github(preferred) or send to `ivan.goncharov.ua@gmail.com`

[2015-12-21 13:42] IvanGoncharov commented on #72
@hiveship (y) I recieved it. I will take a look and post results here.

[2015-12-21 13:54] IvanGoncharov commented on #72
@hiveship Problem that in your WADL file XML Schema assigned to `xs` namespace and we expect it to be `xsd`. It's incorrect assumption and I will try to fix it in a day or two.

[2015-12-25 21:24] IvanGoncharov commented on #72
@hiveship Merry christmas :christmas_tree: :santa:
Sorry for delay, I fixed first bug and will commit fix today.
But I discover couple more that block conversion of your WADL example.
I will continue to work on it.

Your example is also will be good addition for our testsuite.
Can I commit it to this repository and make it public?

[2015-12-26 11:42] hiveship commented on #72
I don't thnk it's a good idea to make it public since there is my company
name on it. I can try to modify it to remove my company name nnext weekd if
it's ok for you.
Merry christmas :)

2015-12-25 22:24 GMT+01:00 Ivan Goncharov <notifications@github.com>:

--

*Maëlig NANTEL*
Mobile : +33 (0)6 69 47 39 00
Mail : *maelig.nantel@gmail.com <maelig.nantel@gmail.com>*

[2015-12-26 12:38] IvanGoncharov commented on #72
it's ok for you.

@hiveship Yes, definitely.

[2015-12-29 12:21] IvanGoncharov commented on #72
@hiveship Can you please try `1.6.1` release.
Note: we still missing response conversion.

[2016-01-04 09:10] hiveship commented on #72
I have installed "api-spec-converter" using npm install and then run the tool using my command line. I'm new with node js. How can I swtich to 1.6.1 release ?

I will edit the wadl and sent it to you today.

[2016-01-04 13:41] IvanGoncharov commented on #72
@hiveship NPM should have `1.6.1` version so you just need to run `npm install api-spec-converter` one more time. If it doesn't help, please post error output here.

Thank you.

[2016-01-04 14:10] hiveship commented on #72
While trying with the same WADL I still got an error:
[code]

I have also tried with a simpler WADL file and got another error:

[code]
Attachment: the 2nd WADL. I can provide the XSD models files if needed

[2016-01-04 14:22] IvanGoncharov commented on #72
@hiveship can you please check version: `api-spec-converter --version`.
From your command line it's looks like you install it globally so to update you need to add `-g` flag.
`npm install -g api-spec-converter`

Currently we don't do response conversion, but it will be very useful in future.

[2016-01-04 14:52] hiveship commented on #72
Sorry, my mistake I was not on version 1.6.1.
It seems to be ok with the original WADL file, no error while converting. I imported the generated JSON to Swagger Editor, and I got a little error, missing an element "info". You can solve the error just by adding at the beginning of your JSON output:
[code]
I think you can leave empty strings if those information are not provided in the WADL file.
Fi

[2016-01-05 17:59] bobby-brennan opened #75 "Naming inconsistency - Format/Type"
We sometimes call swagger_1 and raml "types", sometimes "formats". I think we should just use "formats"

[2016-01-05 18:48] bobby-brennan commented on #37
Edited README to highlight this in bold:

**Currently only supports conversion to Swagger 2.0**

[2016-01-05 18:48] #37 closed

[2016-01-08 23:31] IvanGoncharov commented on #72
@hiveship I fixed WADL error and also added your test case.
Please retest?

[2016-01-18 13:02] IvanGoncharov commented on #72
@hiveship Can you please retest?

[2016-01-19 15:14] hiveship commented on #72
@IvanGoncharov Yes sorry, totally missed.
I just updated my version of the api spec converter via ```sudo npm install -g api-spec-converter``` and retest.

Seems good. However, the "info" element still missing, and generate an error in the Swagger Editor / Swagger UI components. (The error is not visible during the api-spec-converter execution).

Add the following, for each generation, at the begi

[2016-02-05 11:30] HipZena opened #79 "Postman collection format"
It would be nice if the converter can support the postman collection format as well since I am not aware of any way to export to Swagger spec (2.0) from Postman.

[2016-02-05 14:15] IvanGoncharov commented on #79
@HipZena Thank you for suggestion.
It's definitely worth to implement feature.
Do you have link to formal specification of this format?
Also it's like postman have [multiply versions](http://blog.getpostman.com/2015/06/05/travelogue-of-postman-collection-format-v2/) of their format, which one are you interested in?

And as always if someone want to step up  and implement this feature we will gladl

[2016-02-05 15:39] HipZena commented on #79
Thanks for the prompt reply. I do not have links to their spec (postman collection) and I'm not sure if they publicly publish one.

And yes, I'm aware of the fact that they've multiple versions. I just exported a postman collection from Postman but couldn't find any version information in the JSON file.

I would suggest you contact them to show them the good work you guys have done and see if they

[2016-02-07 05:39] annegentle commented on #72
I have an error when testing conversion of WADL to Swagger_2 as well.

[code]
Same happens for another WADL from the collection I'm using from https://github.com/openstack/api-site/tree/master/api-ref/src/wadls where all the entity references are resolved after building.

Here's an attachment of an example one with this error. See what you think! Thanks.
[identity.txt](https://github.com/lucybot/a

[2016-02-07 12:47] IvanGoncharov commented on #72
@annegentle Thank you for such detailed bug report, it really simplified my work.
It's really hard to properly implement XML namespaces in JS :cry:
Especially since we provide browser version of our tool and can't use binary libraries under the hood.
So I implemented striping of prefixes from tag and attribute names.
Can you please test it with `npm install -g lucybot/api-spec-converter`?

[2016-02-07 22:46] annegentle commented on #72
Thanks, works fine now, except the Swagger Editor wants an "info" section, which we've filled in with something like this, based on a WADL for an Image API:

[code]

In our case, we can hard-code the license info, understandable that you can't for your tool. Still, you can probably extract at least the title and version. Just a thought for further enhancement for WADL <> Swagger 2.0. Appreciate th

[2016-02-08 11:21] IvanGoncharov commented on #72
@annegentle

I searched both in WADL spec and in OpenStack WADL files and I can't find `title` and `version`.
Can you please post link to WADL with such fields?

[2016-02-09 13:41] zam17 opened #81 "Issue with converting generic type"
Hello!

I'm facing an issue when I'm converting my attached API from Swagger 1.2 to 2.0. The original spec uses List[MapВ«string,objectВ»]. The produced spec includes reference to it ("$ref": "#/definitions/Map┬лstring,object┬╗"), but does not contain the definition itself.

The source and result are attached. Can this be fixed, please?

[issue.zip](https://github.com/lucybot/api-spec-converter/fi

[2016-02-09 14:37] IvanGoncharov commented on #81
@zam17 Thank you for providing test sample.
You described two different problems:
1) Missing `MapВ«string,objectВ»` definition. It also missing in 1.2 spec, and converter can't add it.
How `1.2` spec was generated?
Did you use same framework for it?
2) `Map«string,object»` => `Map┬лstring,object┬╗`. I can't reproduce it, it looks like you converted Unicode into ASCII. Do you running it on Windows?

[2016-02-09 14:44] zam17 commented on #81
Hi,
1.2 spec I've just downloaded from the swagger that is exposed by our API vendor. I've downloaded it to provide to you, since it's in the internal network.

The second problem is just not a problem, I've copied the output from CMD (yes, I'm using Windows) and the quotes got broken, so do not worry about it.

[2016-02-09 14:57] IvanGoncharov commented on #81
@zam17 Simple solution would be to just add `Map«string,object»` manually and use `{}` as value.

I don't want to add workarounds for individual API specs and I didn't experience such problem with any other Swagger 1.2 spec.

[2016-02-09 15:02] zam17 commented on #81
Ok, will try to add it manually. I agree that certainly such workarounds do not belong to your solution. Thank you for fast response and help!

[2016-02-09 15:05] IvanGoncharov commented on #81
My pleasure. You can use http://editor.swagger.io/ for editing Swagger.

[2016-02-09 15:05] #81 closed

[2016-02-21 06:04] czardoz commented on #79
We do have a public specification (and a JSON schema): schema.getpostman.com

While we do have two versions of the specification, we also have https://www.npmjs.com/package/postman-collection-transformer which can interconvert between the two. (I will update the readme tomorrow!).

@IvanGoncharov, apologies, I haven't been able to be more active in this project :(

[2016-02-21 16:39] IvanGoncharov commented on #79
@czardoz Thank you for link, it really helpful.
Which version is currently used in Postman?

I played with postman collection and couldn't find format version inside.
I reviewed specs and closes thing that I found is `schema` field.
But Postman doesn't fill it currently.
Am I right?

P.S. Can you please consider adding standard [$schema](http://json-schema.org/latest/json-schema-core.html#anchor22

[2016-02-22 09:40] czardoz commented on #79
@IvanGoncharov Postman currently uses v1.0.0

You're right, currently we don't embed version information in the Collection file. We will start embedding it in the upcoming version (v2.0.0). Example:

[code]

[2016-02-22 09:44] czardoz commented on #79
Oh, I will post some sample v1 and v2 collection here too :)

[2016-02-22 21:18] IvanGoncharov commented on #79
@czardoz It will be very helpful. Thank you.

[2016-02-24 02:39] HipZena commented on #79
Thanks @czardoz

[2016-02-25 10:45] nagromc opened #83 "TypeError: Error during convertion: Cannot read property 'resources' of undefined"
Hi,

I have an error when I run the following code:

[code]

Here is the stack trace:

    Trace: [TypeError: Error during convertion: Cannot read property 'resources' of undefined]
        at L:\mcourbet\dev\git\plq\plq-parent\plq-web\gulpfile.js:54:17
        at L:\mcourbet\dev\git\plq\plq-parent\plq-web\node_modules\api-spec-converter\lib\base-type.js:133:14
        at converters.swagger_2 (L:\

[2016-02-25 13:30] IvanGoncharov commented on #83
@nagromc I tried it with snapshot from repo and it works.
Can you please try `npm install --save lucybot/api-spec-converter`?
We will try to release fix ASAP.

[2016-02-25 14:48] nagromc commented on #83
Hi @IvanGoncharov and thank you for your quick reply.

I confirm `api-spec-converter` doesn't crash anymore with the snapshot lucybot/api-spec-converter:

[code]

[2016-02-25 14:55] IvanGoncharov commented on #83
@nagromc I don't have NPM keys to make release.
But I contacted project owner to ASAP solve this problem.

I also fixed example inside README to use `stringify` method.
So pure JSON is outputted.

[2016-02-25 16:08] nagromc commented on #83
@IvanGoncharov Great! Thank you for you support :+1:

[2016-02-26 01:57] IvanGoncharov commented on #83
@nagromc Version `1.8.0` released.

[2016-02-26 01:57] #83 closed

[2016-03-01 09:50] nagromc opened #85 "lucy-console: "SyntaxError: [object Object] is not a valid Swagger API definition""
Hi,

I try to use `api-spec-converter` (v. 1.8.0) with [`lucy-console`](/lucybot/lucy-console) (v. 1.1.1) but I run into the following error (in the web browser console when I reach [http://localhost:3000](http://localhost:3000)):

I don't know if the problem comes from `api-spec-converter` that doesn't output Swagger-compliant object, or from `lucy-console` that cannot handle this particular Swag

[2016-03-01 20:41] bobby-brennan commented on #85
[1] is the Swagger output of api-spec-converter right? Those paths look pretty wonky, looks like something went wrong

[2016-03-01 20:46] bobby-brennan commented on #85
Can you explain how this resource path is supposed to be interpreted?
[code]

[2016-03-01 20:49] bobby-brennan commented on #85
I see another issue: looks like you're running on Windows, and we're using Path.join() to manipulate URL paths, which is for filesystems. We should really be using the URL package instead. Will open a separate bug

[2016-03-01 21:12] bobby-brennan commented on #85
Pushed a couple fixes:
* Fix Path.join() calls (right now it still calls Path.join() but replaces \ with / afterward. Pretty sure this is not the best solution but it should do the trick)
* Fix up path parameters like `{numApg: [\p{Alnum}]{1,20}}` to just be `{numApg}`

Can you try running
[code]
And see if the problem is fixed?

Note that you can also run
[code]
to check for validation issues.

[2016-03-01 22:09] IvanGoncharov commented on #85
@nagromc @bobby-brennan  `validate` should be supplied with callback.
[code]

[2016-03-01 22:25] IvanGoncharov commented on #85
@nagromc @bobby-brennan Is `/{numApg: [\p{Alnum}]{1,20}}` valid path in WADL?
I read [spec](https://www.w3.org/Submission/wadl/) and couldn't find reference to anything like that.
Or I'm missing something?

[2016-03-02 08:38] nagromc commented on #85
First, guys, thank you for your involvement.

@bobby-brennan wrote

Yes it is, according to the provided snippet :wink:
[code]

-

@bobby-brennan wrote

The server uses Jersey v 1.19 (Java REST implementation, aka JAX-RS), and the paths can be customized with regular expressions. See [Path](http://docs.oracle.com/javaee/6/api/javax/ws/rs/Path.html#value%28%29) and [Pattern](http://docs.oracle.com/

[2016-03-02 09:44] nagromc commented on #85
OK so here is the new output of `api-spec-converter` without regex constraints and with `api-spec-converter` revision [b3401e1](https://github.com/lucybot/api-spec-converter/tree/b3401e16318259e89c19ded1160437016fc49fdb):

[code]

It looks better, but I get an error when I had this to my Gulp task as you suggested:

[code]

The error:
[code]

Obviously, `lucy-console` crashes with the same error.

[2016-03-02 17:09] bobby-brennan opened #87 "Validate output of all test cases"

[2016-03-02 17:12] bobby-brennan commented on #85
I just added a dummy info object to the WADL converter.  It looks like there are duplicate operationIDs still though, which I'm not sure how to handle gracefully.  E.g. in the WADL there are several operations with id=rechercherArticle

@IvanGoncharov any idea if this is legal WADL?

[2016-03-02 17:16] bobby-brennan commented on #85
@nagromc worth noting that lucy-console will handle some invalid specs gracefully.  I just launched it with the latest output of api-spec-converter using your WADL and it works fine, even though SwaggerParser complains about duplicate operation IDs.

[2016-03-02 22:45] IvanGoncharov commented on #85
@bobby-brennan So I think it better to revert 946fa0044ec4cde3ad9ff9a74169f528d64347fd. Since we shouldn't support all non-standard features of every format.

I ran validation on file and get following result:
[code]
So it's invalid and should be fixed in WADL.

I don't think it's good default behavior. You give user false sense of correctness, without even notifying him. For example his API can h

[2016-03-03 08:27] nagromc commented on #85
@bobby-brennan wrote

I updated `api-spec-converter` to revision [54e5c83](https://github.com/lucybot/api-spec-converter/commit/54e5c836673958acc2f054fec40ee4989cf4795d), and this works with the following Gulp task:

[code]

The Gulp task outputs the following error as you already noticed though:
[code]

I need to find a way to modify the WADL to make it compliant.

[2016-03-03 09:07] nagromc commented on #85
FYI, I put back

<pre>
/{numApg<b>: [\p{Alnum}]{1,20}</b>}
</pre>

and it doesn't seem to be a problem.

`api-spec-converter` strips away the regex constraint:

[code]

In `lucy-console`:
![Imgur](http://i.imgur.com/4rSRo1J.png)

That's okay for now. I don't know well WADL and Swagger, but is it possible to add this kind of regex constraint in a "compliant way"?

[2016-03-03 14:19] bobby-brennan commented on #85
It's possible to add regex and other validators to Swagger, but it could be
difficult to convert from Jersey format.

If you're familiar with how these validators are constructed in Jersey,
feel free to take a stab at it and send over a PR.  You can look at the
Swagger definition for parameters to see the different validation fields:
https://github.com/OAI/OpenAPI-Specification/blob/master/version

[2016-03-04 22:36] IvanGoncharov commented on #85
@nagromc We released version `1.9.0`.
If you find other issues please report it here.
We really need user input to improve our conversion tool.

[2016-03-04 22:36] #85 closed

[2016-03-04 22:41] IvanGoncharov commented on #72
@hiveship

[code]

Thank you for suggestion, it took me some time but I implemented it in `1.9.0` release.
It disable by default, to enable just add `-d` flag.
I choose to only add `title` and `version`, but not `description` because it not mandatory field in Swagger 2.0.

[2016-03-04 22:44] IvanGoncharov commented on #72
@annegentle If you can please answer my previous question.
It will help us to improve this tool.

[2016-03-04 22:44] #72 closed

[2016-04-06 11:24] jfiala opened #98 "Conversion from Swagger 2 to WADL outputs Error: Unable to convert from swagger_2 to wadl"
I tried to convert the Swagger 2 Petstore API spec to WADL, and I get the following error message:
Error: Unable to convert from swagger_2 to wadl

api-spec-converter -f swagger_2 -t wadl http://petstore.swagger.io/v2/swagger.json

npm\node_modules\api-spec-converter\node_modules\drafter.js\emcc\drafter.nomem.js:1
(function (exports, require, module, __filename, __dirname) { var Module={"ready
":f

[2016-04-06 12:01] IvanGoncharov commented on #98
Yes, it's stated in README(second line):

If you find/write a JS library for Swagger to WADL conversion please open an issue and we will add support for it.

[2016-04-06 12:01] #98 closed

[2016-04-06 12:24] jfiala commented on #98
Thank you for the prompt answer!

[2016-04-06 15:00] jfvilas opened #99 "Error when converting from raml"
There is a little error when converting references from raml to swagger.

In my company we use nested references in RAML, but the conversión process assumes the references are all set at the same level. For example, if we have a RAML with a reference like this:

"$ref" : "#/schemas/Person"

what we get when converting is:

"#/definitions/#/schemas/Person"

but we should obtain:

"#/definitions/Per

[2016-04-06 15:11] IvanGoncharov commented on #99
@jfvilas I will try to fix it ASAP.
Can you please provide small test file or your entire RAML if it's public.
It will greatly help me because right now I don't fully understand which RAML construct can trigger these bug.

[2016-04-07 06:44] jfvilas commented on #99
Please, find attached a simple RAML that causes the abovementioned error.

Thanks in advance.

[JAFV003.txt](https://github.com/lucybot/api-spec-converter/files/207841/JAFV003.txt)

[2016-04-08 18:00] IvanGoncharov commented on #99
@jfvilas It looks like this is mistake in your RAML file:
https://github.com/raml-org/raml-spec/blob/raml-10/versions/raml-08/raml-08.md#schemas
I implemented the fix and it's very simple just run `npm update`

Did you wrote this file by hand or using some tool?
Is my understanding of RAML correct, or I missed something and your file is correct?

[2016-04-09 11:44] jfvilas commented on #99
Yes, i understand schema uses inside raml docs, but the problem here‎ occurs because the use of $ref in json schema, i mean, your library is working right from a raml point of view, but handling json references has nothing to do with raml or swagger, the references in fact can be absolute (like http://somesite.org/schemas...).The real problem arises when usin relative references (like #/schemas or

[2016-04-09 11:58] IvanGoncharov commented on #99
@jfvilas Please answer this question:

[2016-04-09 12:03] jfvilas commented on #99
Oops, sorry.We use a home-made tool‎ based on several public community libraries (json library from newtonsoft and yamldotnet).Our raml docs including relative  references are succesfully parsed by Postman.

[2016-04-09 12:16] IvanGoncharov commented on #99
`$ref` is not part of JSON or YAML spec that mean you can't interpret it in a special way.
If you call something RAML it should follow this spec and be processed `from a raml point of view`

RAML inline JSON Schema as a string. It means it separate entity, like a file that embedded into RAML. You can't address something inside string using JSON Reference.

I asked because I have no problem with ad

[2016-04-09 12:25] IvanGoncharov commented on #99
@jfvilas I will revert this change. If you want to continue using this workaround, here is patch you should apply: https://github.com/APIs-guru/raml-to-swagger/commit/b3d8d19a0e5c1b1bda131a04d6aa8f964361b637

[2016-04-09 12:25] #99 closed

[2016-04-09 12:41] IvanGoncharov commented on #99
@jfvilas You can also freeze `raml-to-swagger ` to always be `1.0.1`

[2016-04-09 12:45] jfvilas commented on #99
Ok. Thank you‎.

[2016-04-15 21:27] MikeRalphson commented on #79
@HipZena just a note that the [APIMATIC API Transformer](https://apitransformer.com/) can convert Postman collections to various formats including Open API Spec / Swagger 2.0. The resultant file needs some hand editing though.

[2016-04-18 03:13] HipZena commented on #79
@MikeRalphson yes but we prefer open-source and the option to run it locally in our environment.

[2016-04-20 09:13] restunited commented on #79
@HipZena Understood that you prefer open-source software. [REST United](https://restunited.com) also offers import via Postman collection format and then export to OpenAPI/Swagger spec 2.0.

We do plan to open-source our importer and exporter to facilitate conversion between different formats but not something with the highest priority at the moment (especially due to the fact that api-spec-conver

[2016-04-20 20:25] IvanGoncharov commented on #79
@restunited Biggest problems I see at the moment is companies building converters around their internal formats. It's totally natural decision for supporting multiple formats in the scope of one particular tool.
But it limits reusability of such converters and require outside contributors to really understand internal format.

The fundamental difference is that we plan to use OpenAPI/Swagger as th

[2016-04-21 03:43] restunited commented on #79
@IvanGoncharov I can see api-spec-converter playing a more important role as a building block so that companies do not need to reinvent the wheel.

The question is more on how to push api-spec-converter to the next level to make it even more widely adopted.

[2016-04-28 00:33] walkerscott-svc opened #101 "API Blueprint as a source"
Does the online tool support API Blueprint as a source?

http://lucybot.github.io/api-spec-converter/

[2016-04-28 00:39] bobby-brennan commented on #101
IIRC we were unable to get the API Blueprint parser running successfully in
the browser, so you'll need to use the command line tool for APIBP.

Bobby Brennan
bobby.brennan@gmail.com

On Wed, Apr 27, 2016 at 8:33 PM, walkerscott-svc <notifications@github.com>
wrote:

[2016-04-28 00:41] walkerscott-svc commented on #101
Ok cool, thanks Bobby. Will give it a shot :)

[2016-07-09 11:50] #101 closed

[2016-07-13 18:57] IvanGoncharov commented on #75
Fixed.

[2016-07-13 18:57] #75 closed

[2016-08-02 23:48] robogeek opened #103 "Error during convertion: undefined is not a valid argument for URI"
First - isn't the error message misspelled?  Oh, but that error message is from URI.js.

I'm filing the issue here because api-spec-converter is sending `undefined` into URI.js.

When trying to convert a WADL to Swagger2 I'm getting this error:

[code]

I did a little investigation and did a little modification:

[code]

The data output from the util.inspect shows the `root.$` object has a `resour

[2016-08-03 08:44] IvanGoncharov commented on #103
@robogeek Can you please post a direct link or attach the file.

According to [WADL spec](https://www.w3.org/Submission/wadl/#x3-110002.5):
[code]
According to [Swagger spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields):
[code]
So if we don't add any host in Swagger file it will confuse tooling.

A possible workaround would be to manually add `base` attrib

[2016-08-03 18:12] robogeek commented on #103
Okay, there doesn't seem to be a license attached to the file, so it's okay to share it here it seems.  The .zip archive has both the sep_wadl.xml and corresponding sep.xsd

[Archive 2.zip](https://github.com/lucybot/api-spec-converter/files/400115/Archive.2.zip)

[2016-08-04 08:29] IvanGoncharov commented on #103
@robogeek Thanks for attaching archive it allowed me to browse through the file.
I found that ZigBee uses their own vendor extensions: `xmlns:wx="http://zigbee.org/wadlExt"`.
According to [this issue](https://community.smartbear.com/t5/SoapUI-Open-Source/NullPointer-importing-XML-validated-WADL-file/td-p/25696):

So you need to do above transformation before doing a conversion.

[2016-08-08 22:51] robogeek commented on #103
Hm, thank you for the advice.  This is my first time doing anything with WADL so I've got some things to learn ... did some remedial reading today, and I've got an inkling of what you said to do.

[2016-08-08 22:51] #103 closed

[2016-08-09 08:26] IvanGoncharov commented on #103
@robogeek  I'm glad I could help 😄

[2016-08-11 20:29] avoltmer opened #104 "Fail to convert RAML to Swagger 2"
When I run this conversion:

`api-spec-converter https://raw.githubusercontent.com/vmware/nsxraml/master/nsxvapi.raml --from=raml --to=swagger_2
`
An error is generated:

[code]

I suspect it has to do with the comment

`//Don't support other URI templates right now.`

[2016-08-12 13:32] COPUR opened #105 "External Schema issue RAML to Swagger_2"
I can not confirm that external schema usage is supported while converting from RAML to Swagger_2, is that known issue ?

[2016-08-12 13:37] IvanGoncharov commented on #105
@COPUR I don't understand the issue 😞
Can you please provide sample RAML?

[2016-08-12 13:41] IvanGoncharov commented on #104
@avoltmer Yes, you absolutely right.
More details here: https://github.com/APIs-guru/raml-to-swagger/issues/2

[2016-08-16 10:07] IvanGoncharov commented on #104
@avoltmer I implemented support for template parameters in path part of baseUri.
But your case is more complicated since `host` is a template parameter.
Swagger doesn't support template parameters in `host` 😞
Moreover, I can even remove `host` since in this case:

I can't think of any solution which produces valid Swagger file.
As a workaround, you can remove `baseUri` from RAML file and then add

[2016-08-17 08:32] IvanGoncharov commented on #105
@COPUR I don't understand your problem.
Please either provide sample RAML file or detail description of your problem.

[2016-08-18 09:46] IvanGoncharov commented on #105
@COPUR When you will have necessary details please feel free to reopen this issue.

[2016-08-18 09:46] #105 closed

[2016-08-18 09:47] IvanGoncharov commented on #104
@avoltmer If you have idea how to correctly handle it in Swagger, feel free to reopen this issue.

[2016-08-18 09:47] #104 closed

[2016-09-01 15:52] aroach opened #107 "WADL 'representation' and XSD"
First off, thanks for creating this project!  I'm helping some colleagues with a conversion from WADL to Swagger_2, but the WADL file references XSDs to define the objects that are returned or expected by the API.

I *think* that to insert this behavior, one would need to start groveling about here in the WADL converter.  Yes?

https://github.com/lucybot/api-spec-converter/blob/master/lib/formats/

[2016-09-01 17:35] bobby-brennan commented on #107
It would be great to start generating JSON Schema from XSDs.  Would definitely welcome any contributions to that effect.

For your own purposes, you could probably convert XSD using jsonix-schema-compiler (requires Java):
https://github.com/highsource/jsonix-schema-compiler/wiki/JSON-Schema-Generation

and inject the resulting JSON Schema into your swagger doc.

[2016-09-08 21:40] maneeshsahu opened #108 "Syntax Error: Unexpected token"
I am getting this error when I use api-spec-converter to convert from swagger_1 to swagger_2

`/usr/local/lib/node_modules/api-spec-converter/index.js:33
    .then(fromSpec => fromSpec.convertTo(options.to))
                   ^^
SyntaxError: Unexpected token =>
    at exports.runInThisContext (vm.js:75:16)
    at Module._compile (module.js:445:25)
    at Object.Module._extensions..js (module.js:4

[2016-09-08 22:49] IvanGoncharov commented on #108
@maneeshsahu Do you use it in browser on node.js?
If node can you please provide output of: `node --version`?
It should be newer that `4.2.0`, see this:
https://github.com/lucybot/api-spec-converter/blob/master/package.json#L5

[2016-09-10 11:10] IvanGoncharov commented on #108
@maneeshsahu Can you please provide requested details?
without them we can't fix this bug.

[2016-09-12 18:07] maneeshsahu commented on #108
Hi @IvanGoncharov
This is my version of node
`~ $ node -v
v0.13.0-pre`

[2016-09-12 22:28] IvanGoncharov commented on #108
@maneeshsahu You need to update node to at least `4.2.0`.
We drop support for node `v0.xx` since version `2.0.0` of this lib.

[2016-09-13 14:30] xGouley opened #109 "Support of new Raml 1.0 ?"
Will the last version of Raml 1.0 will be supported soon ?

[2016-09-13 22:22] maneeshsahu commented on #108
I was upgrading using brew and it just wasn't updating the node version. I just downloaded the binary for OS X and that fixed the issue. Thank you!

[2016-09-13 22:22] #108 closed

[2016-09-14 04:04] IvanGoncharov commented on #109
@xGouley We plan to add support for it in future but not in next couple weeks.
I can't provide any estimates since I didn't research 1.0 yet.

[2016-09-27 20:46] jacobscarter commented on #79
@IvanGoncharov any update on this? Consider making a PR to add the functionality unless you have already started on it and will be finished soon.

[2016-09-27 22:17] IvanGoncharov commented on #79
@jacobscarter Didn't write any code for this issue.
Do you plan to work on Postman2Swagger, Swagger2Postman or both?

[2016-09-27 22:19] jacobscarter commented on #79
[swagger2postman](https://github.com/postmanlabs/swagger2-to-postman) already exists, so I will be building postman2swagger as a seperate npm module so it can be implemented the way you are implementing `google-discovery-to-swagger`, `raml-to-swagger`, etc.

[2016-09-27 22:35] IvanGoncharov commented on #79
@jacobscarter Great. It exactly what I wanted to suggest 😄
BTW. Here is a good test suite of real-life postman collections:
https://www.getpostman.com/integrations/run-button

[2016-09-27 23:28] jacobscarter commented on #79
Yeah I'm very familiar with postman, I use their CLI tool Newman for all my automated API testing and what not. Ill let you know if I get stuck

[2016-09-28 21:16] jacobscarter commented on #79
@HipZena @IvanGoncharov @czardoz I have some questions, I am curious what you guys think about them.

I am almost done with the converter, it was pretty straight forward, the things I am having trouble with is utilizing Swaggers Response Model and Response Statuses, I am considering trying to parse the tests for each Postman API call (if they exist) and try and gleam info from there about response

[2016-09-28 21:38] jacobscarter commented on #79
I have played around with node walking of the test js file with uglifyjs, there are too many problems with trying to actually run the JavaScript within the test js file because of unknown variables, etc.

[2016-09-29 04:47] IvanGoncharov commented on #79
@jacobscarter I also think parsing arbitrary JS is unreliable.

Just to be sure which version of Postman format you planning to support?
v2?

If you have working prototype it would be great to integrate it with `api-spec-converter`.
Don't forget to add couple test collection.

Next week I plan to add possibility to detect spec format and it can break some internal APIs.
So it would be great to mer

[2016-09-29 04:52] jacobscarter commented on #79
@IvanGoncharov I'm working on getting it done ASAP, turns out to be pretty tedious :/ I'll keep you updated

[2016-09-29 05:06] IvanGoncharov commented on #79
@jacobscarter No need to hurry. You can just publish whatever you have right now as `0.0.1`.
Then submit integration and mark Postman support as experimental in `README.md`.
And continue to work on converter at your own pace.

[2016-09-29 08:29] jacobscarter commented on #79
@IvanGoncharov first version is up, a lot of work do do.  I'm hoping by tomorrow to have request body conversion done.  Response body is a bit of a pipe dream so I'll tackle some other necessities before going back to that.

https://github.com/IntegrateDev/postman2swagger2

Now I need to get a PR to you for using it in api-spec-converter, hopefully can do that tomorrow

[2016-10-13 21:43] marbemac opened #110 "raml08 schema prop not being imported correctly"
For example, a raml like this, the admin schema is not imported correctly:

[code]

[2016-10-13 21:44] marbemac commented on #110
wow, wrong repo :P

[2016-10-13 21:44] #110 closed

[2016-10-28 15:32] alexec opened #111 "Cannot convert valid RAML OAuth 2.0 security with `-c` flag:"
With this valid security section in RAML:

[code]

Run this

[code]

Get this error:

[code]

[2016-10-28 16:39] IvanGoncharov commented on #111
@alexec Can you please share URL to `self-assessment-api-granularity-level-2-v1.raml` file?

[2016-11-01 10:17] alexec commented on #111
Yes: https://github.com/hmrc/self-assessment-api/pull/228/files

[2016-11-02 20:44] bobby-brennan opened #112 "Open API 3.0 support"
Here's the spec:
https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md

Open API is shooting for a January launch.  Not worth investing too much effort before the spec is set in stone, but it seems reasonably stable if we want to make a first pass.

[2016-11-09 00:21] bobby-brennan opened #113 "Support apiDoc"
http://apidocjs.com/

https://github.com/fsbahman/apidoc-swagger

[2017-01-04 12:35] sgustafsson opened #114 "UIFaces jpg URLs"
The file \dist\api-spec-converter.js contains over 1200 URLs to jpg images.

module["exports"] = [
  "https://s3.amazonaws.com/uifaces/faces/twitter/jarjan/128.jpg",
  "https://s3.amazonaws.com/uifaces/faces/twitter/mahdif/128.jpg",
  "https://s3.amazonaws.com/uifaces/faces/twitter/sprayaga/128.jpg",
  "https://s3.amazonaws.com/uifaces/faces/twitter/ruzinav/128.jpg",
  "https://s3.amazonaws.com/ui

[2017-01-04 15:33] IvanGoncharov commented on #114
@sgustafsson those URLs used in `faker` and dependency chain look like this:
`api-spec-converter` => `sway` => `json-schema-faker` => `faker`.
We use `sway` only to validate Swagger 2.0 files and those URLs don't use in this props.
Hower `sway` also allow you to fake data based on JSON-Schema so it's legit usage.
The problem that we can't use part of `sway` lib, therefore, browserify build include

[2017-01-04 15:40] IvanGoncharov commented on #114
@sgustafsson In past I tried to split out Swagger 2.0 validation into separate lib but it stuck on Apigee side:
https://github.com/apigee-127/sway/issues/68

[2017-01-04 16:38] sgustafsson commented on #114
OK, I see, thanks for the insights !

[2017-01-29 21:08] sajmmon opened #115 "{"cause":{},"isOperational":true}"
I get this when running api-spec-converter via https://lucybot.github.io/api-spec-converter/ for WADL file in:
http://www.ebi.ac.uk/Tools/services/rest/ncbiblast?wadl

[2017-01-30 20:34] kevin-meyer opened #116 "Slashes in definitions aren't properly escaped in json pointers"
I'm converting a swagger 1 spec to swagger 2 json.  When a definition node has a key with a slash in it, $ref values should escape the slash per RFC 6901 (https://tools.ietf.org/html/rfc6901#section-5).

Example snippet
`"definitions":{"get_foo/foo":{"description":...`

should be referenced
`"$ref":"#/definitions/get_foo~1foo"`

The services I'm dealing with used ServiceStack's Swagger plugin and

[2017-01-30 21:03] kevin-meyer commented on #116
Looking through the code, I believe this is an issue with `swagger-converter`. Closing the issue.

[2017-01-30 21:03] #116 closed

[2017-01-31 16:17] bobby-brennan commented on #115
I've hit this issue before and it seems to be specific to the browser version.  If you are able to install the command-line version it seems to work fine:

[code]

[2017-02-11 15:21] #111 closed

[2017-03-02 21:58] jvaidyaa opened #117 "Unable to convert this swagger_docs to wadl"
https://api.qat.obi.aol.com/biz/v2/api-docs/

[2017-03-02 22:02] jvaidyaa commented on #117
{"cause":{},"isOperational":true}
Open an issue on GitHub

[2017-03-03 15:35] bobby-brennan commented on #117
Are you using the online converter, or the command-line tool?  The command-line version seems to have more success with WADL.

[2017-03-03 15:44] jvaidyaa commented on #117
I tried both, the command line give the following error, this error itself was for the online converter, but the error for the command line is as below
us158999:~ jvaidyaa$ api-spec-converter https://api.qat.obi.aol.com/biz/v2/api-docs/ --from=swagger_1 --to=wadl > obi.wadl
Fatal Error: Incorrect format
    at Error (native)
    at readSpec.spread (/usr/local/lib/node_modules/api-spec-converter/li

[2017-03-15 07:34] aaronblair opened #118 "Cannot Convert I/O Doc"
The link I was using is:
https://raw.githubusercontent.com/nationbuilder/api_spec/master/spec.json

Maybe there is something non-standard in their file.

[2017-03-15 16:33] bobby-brennan commented on #118
At the very least, it looks like it's missing:

[code]

Though I think `foobar` is meant to be replaced with your own subdomain.

You can try copying the spec to a local file and making those changes.

[2017-03-15 16:36] bobby-brennan commented on #117
Sorry, I misread the title, I though you were trying to convert WADL to Swagger.

Currently we only support conversion **to** Swagger:
https://github.com/lucybot/api-spec-converter#conversion-table

Would happily accept a PR that adds Swagger -> WADL support though. Wouldn't be too hard to reverse the logic in `lib/formats/wadl.js`.

[2017-03-15 16:37] #117 closed

[2017-03-15 18:24] aaronblair commented on #118
Yeah, that makes total sense. I didn't realize that the file was missing so much.

[2017-03-15 18:24] #118 closed

[2017-03-18 08:29] MikeRalphson commented on #112
I'm happy to create a shim for [swagger2openapi](https://github.com/mermade/swagger2openapi) or were you thinking of making OpenAPI 3 the target for all the other conversions?

[2017-03-18 15:39] bobby-brennan commented on #112
That would be great! Once that's done we should be able to handle
converting e.g. RAML to OpenAPI 3 by using swagger 2 as an intermediary.

On Mar 18, 2017 4:29 AM, "Mike Ralphson" <notifications@github.com> wrote:

I'm happy to create a shim for swagger2openapi
<https://github.com/mermade/swagger2openapi> or were you thinking of making
OpenAPI 3 the target for all the other conversions?

—
You ar

[2017-04-28 11:07] MikeRalphson commented on #107
[jgeXml](https://github.com/MikeRalphson/jgeXml) has an [xsd2json schema](https://github.com/MikeRalphson/jgeXml/blob/master/xsd2json.js) module which may be of some help, it has only been lightly tested on the XSD I needed to add to a Swagger definition.

[2017-04-29 09:32] MikeRalphson opened #120 "Online version broken"
Github.io link 404s for me.

[2017-05-01 17:28] bobby-brennan commented on #120
Fixed, thanks!

[2017-05-01 17:28] #120 closed

[2017-05-09 19:54] tylerjames opened #122 "Trying to convert from Swagger 1.1 to 2.0"
I've attempted this both in JS and from the command line but have encountered the same problem in both.

I use a command similar to:
`api-spec-converter https://api.gettyimages.com/swagger/api-docs --from=swagger_1 --to=swagger_2 > swagger.json`

Except I point it at the Swagger 1.1 API listing file which looks something like this:
[code]
etc.

The actual definitions of the APIs are contained in s

[2017-05-10 15:24] MikeRalphson commented on #122
Can reproduce this when there is no `basePath` set.

Not sure of the differences in resolution rules between Swagger 1.0, 1.1. and 1.2, but [this line](https://github.com/apigee-127/swagger-converter/blob/master/index.js#L65) in swagger-converter looks suspect; changing it to include version 1.1 fixes the problem.

Hosting the file via a local web-server and referencing it via URL may also help.

[2017-05-11 07:51] MikeRalphson opened #123 "oData support"
https://github.com/akorchev/odata2openapi

[2017-05-11 11:07] IvanGoncharov commented on #122
@MikeRalphson Resolving subresources in Swagger 1.x is a total mess.
Back then I wrote this code in `swagger-converter` I used `swagger-js` as reference:
https://github.com/swagger-api/swagger-js/blob/2.x/lib/spec-converter.js#L535-L543
Since it was used in `swagger-ui` that mean an absolute majority of specs following this algorithm.
I also run `swagger-converter` on couple hundreds of Swagger 1.

[2017-05-16 01:57] dtsao commented on #120
https://lucybot.github.io/api-spec-converter is giving 404's for me.

[2017-05-16 14:34] bobby-brennan commented on #120
The page has moved after renaming the repo. Here's the new link:

https://lucybot-inc.github.io/api-spec-converter/

[2017-05-18 03:37] dtsao commented on #120
Thanks very much. I was able to convert a raml file to swagger - great tool!

[2017-05-23 16:30] serezha93 opened #124 "Fatal error during converting from RAML"
Hello,

I have tried converting RAML file and have got this problem.

api-spec-converter /home/user/api.raml --from=raml --to=swagger_2 > result.json
Fatal AssertionError: undefined == true
    at /usr/local/lib/node_modules/api-spec-converter/node_modules/raml-to-swagger/src/index.js:113:7
    at /usr/local/lib/node_modules/api-spec-converter/node_modules/lodash/lodash.js:4944:15
    at baseForOw

[2017-05-23 16:53] MikeRalphson commented on #124
Could you upload the RAML definition to a gist? If not the whole file, then the securitySchemes section?

[2017-05-23 17:21] serezha93 commented on #124
@MikeRalphson , https://gist.github.com/serezha93/7e6f103b9e50950dcf1c3000c7174797

[2017-05-23 17:33] MikeRalphson commented on #124
Thanks @serezha93 - does `security/session.yml` include a `type:` beginning `x-` ?

[2017-05-23 17:51] serezha93 commented on #124
@MikeRalphson , yep. You'are right about this. And I have read request for PR you give here. It's my case.

As I understood it wasn't realized  : (

[2017-05-23 18:10] MikeRalphson commented on #124
@serezha93 I have asked the author of the PR whether he is still interested in progressing it. If not I will attempt to finish it, but it wouldn't be before next week.

One thing you could try is commenting out lines 24 and 28 from your RAML definition and see if there are other problems. You would need to rebuild the missing `session` securityDefinition in the swagger output file by hand.

[2017-05-24 02:11] stipsan commented on #109
Any news on this? 😄

[2017-05-24 09:10] MikeRalphson commented on #109
Not so far. If you have an immediate requirement, you could try https://apimatic.io/transformer

[2017-09-13 08:36] MikeRalphson commented on #112
Still needed: selection options in browser `index.html` and support for alphabetic ordering.

[2017-09-21 06:52] capouch opened #132 "npm install -g fails with permission error"
Installation has failed for me twice, on machines with different architectures and node/npm versions.
I get the same error on each platform:
`# npm i -g api-spec-converter
/usr/local/bin/api-spec-converter -> /usr/local/lib/node_modules/api-spec-converter/bin/api-spec-converter

sh: generated/aesprim-browser.js: Permission denied
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! jsonpath@0.2.12 p

[2017-09-21 13:57] bobby-brennan commented on #132
Are you able to `npm i -g` other libraries (e.g. `npm i -g webpack`)? If not, you can either use `sudo`, or [follow the instructions here](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md)

If not, we may just have to downgrade the jsonpath library and open a bug there.

[2017-09-21 17:24] capouch commented on #132
I can and do install global packages all the time. Just ahead of this install, I globally installed "swagger-to-graphql," which is the point of this exercise; the files I'm converting need to be in Swagger v2 format, but they are currently in Swagger v1.

It failed to work with sudo, giving the same permissions error as it did with full root access.

However, while researching, I found a thread wh

[2017-09-28 09:07] dobromir-bogatev opened #133 "Cannot read property 'length' of undefined. api_blueprint to swagger_2"
Im getting the following error while trying to convert from api_blueprint to swagger_2
`Fatal TypeError: Cannot read property 'length' of undefined
    at jsonSchemaFromMSON (/usr/local/lib/node_modules/api-spec-converter/node_modules/apib2swagger/index.js:217:37)
    at /usr/local/lib/node_modules/api-spec-converter/node_modules/apib2swagger/index.js:38:67
    at Array.forEach (<anonymous>)
    a

[2017-09-28 09:13] MikeRalphson commented on #133
Can you post a link to your definition? As per the stacktrace above, it's causing an error in one of our dependencies [apib2swagger](https://github.com/kminami/apib2swagger).

[2017-09-28 09:33] dobromir-bogatev commented on #133
I am not really familiar with these documentation formats. Do you need me to post the whole document I am trying to covert or just this part:
`### Definitions
**Customer**
**Claim**
**File**
**Payment**
**Refund**
**Message**
**Document**
**Event**
**Account**
**Statement**`

[2017-09-28 09:55] MikeRalphson commented on #133
If you could post (ideally a link to, or a gist of) the whole document I could test the fix proposed above, and then one of us could raise an issue on the apib2swagger to get it fixed properly. It's also possible your .apib file is non-standard in some way.

Please feel free to email if it is confidential (email on profile page).

[2017-09-28 09:58] dobromir-bogatev commented on #133
It is public documentation for the API of the company I work at so I think it is not confidential.
https://github.com/eCollect/docs/blob/master/apiary.apib

[2017-09-28 10:12] MikeRalphson commented on #133
That link 404s for me, so I guess it isn't a public repository. Is the apib file hosted anywhere else?

[2017-09-28 10:53] dobromir-bogatev commented on #133
Sorry, the repository is not public as i thought.

Here is a gist:

https://gist.github.com/dobromir-bogatev/7ab8de885c1433764ba575dc9cf64a2b

[2017-09-28 11:08] MikeRalphson commented on #133
Reproduced.

[2017-09-28 11:43] MikeRalphson commented on #133
With my proposed fix I'm able to convert the definition. I've put a copy [here](https://gist.github.com/MikeRalphson/7c9339ab4332e61b9091fcd308b1da7b) for reference.

When validating the resultant Swagger 2.0 definition, there are a few errors which will need looking at:-

* there are `$ref`s to `#/definitions/object` which doesn't exist, these can probably be changed to just `type: object`, and m

[2017-10-10 13:47] dobromir-bogatev commented on #133
Im sorry I didn't answer here for a while. We passed the document through a validator and cleared up the errors. Thank you for all your help.

[2017-10-16 06:50] shenghu opened #134 "Not support from openapi_3 to swagger_2"
From readme, it says to support. But I got this error,

[code]

Is there anything I missing?

[2017-10-16 06:59] MikeRalphson commented on #134
I'm sorry, that is a copy-and-paste error in the README. It would not be possible to convert an openapi_3 definition to swagger_2 easily, as information would be lost in several areas and some features are completely unsupported.

[2017-10-16 07:04] MikeRalphson commented on #134
For a one-off conversion you could try https://apimatic.io/transformer but I'd suspect the output would need hand-editing.

[2017-10-16 08:39] MikeRalphson commented on #134
I have raised a PR #135 to update the README - thanks for pointing it out!

Probably your best option is to convert the Swagger 2.0 definition to OpenAPI 3.0 and compare those? You could use api-spec-converter for the conversion in this direction.

[2017-10-17 02:56] shenghu commented on #134
@MikeRalphson thanks. I'll watch openapi-diff.

[2017-10-18 21:14] robertmorrell-inttra opened #136 "Conversion from Swagger spec 1.2 to 2.0 adds HTTP 200 response if not present"
I didn't see this issue brought up in the other issues, but I am experiencing a problem when i define an API that does not use an HTTP 200 (OK) response, (instead it used a 204), and during conversion a 200 response is added to the output json which an invalid reference.

Example: 1.2 spec:
"responseMessages" : [ {
        "code" : 204,
        "message" : "No-Content - Updated successfully"

[2017-10-19 13:25] MikeRalphson commented on #136
I have raised an issue as above with the `swagger-converter` project which is used to convert Swagger 1.2 definitions to Swagger/OpenAPI 2.0.

[2017-10-19 14:12] robertmorrell-inttra commented on #136
Ok thank you. Does that help this project as well?

[2017-10-19 14:14] MikeRalphson commented on #136
@robertmorrell-inttra yes, that module is used by `api-spec-converter` for Swagger 1.2 definitions.

[2017-10-19 14:15] robertmorrell-inttra commented on #136
I see. Thank you.

[2017-10-23 15:53] GuillaumedesPommareSAP opened #137 "Unable to convert behind a corporate proxy"
Hello !

api-spec-converter is working as long as I am converting a resource connected to a public network without proxy. I am trying to convert a raml into a swagger 2.0 file.
When I am at work, behind a corporate proxy, I can't have it working properly. Always getting some "connect ETIMEDOUT" errors.

I have to say that my proxy environment variables are set (for http and https) and the https.ge

[2017-10-27 15:03] bobby-brennan commented on #137
Hi Guillaume,

I'm not sure what might be going wrong here. I don't think api-spec-converter or raml-parser do anything too out of the ordinary when requesting resources over HTTP, and we don't have any proxy-specific code in there. So as long as your proxy is configured correctly, I think everything should work.

If you're able to alter the code to fix the proxy issue, let me know and we can try

[2017-10-27 15:03] bobby-brennan commented on #133
Thanks for following up!

[2017-10-27 15:03] #133 closed

[2017-10-27 15:05] bobby-brennan commented on #136
For reference, here's the issue this depends on: https://github.com/apigee-127/swagger-converter/issues/78

Once that's closed we'll update the dependency here.

[2017-10-27 15:08] bobby-brennan commented on #134
Closing this for now since it's fixed in the README. Converting 3 => 2 (lossily ofc) is something we'll consider down the line though.

[2017-10-27 15:08] #134 closed

[2017-10-31 17:25] MikeRalphson opened #140 "Downconverting OpenAPI 3.0.x to 2.0"
There's a MIT-licensed converter [here](https://github.com/Orange-OpenSource/angular-swagger-ui/blob/master/src/scripts/modules/openapi3-converter.js).

* It's designed as an Angular module, but it looks easy to shim if necessary
* It may be a little simplistic / incomplete in terms of producing valid OpenAPI 2.0 output

[2017-11-01 17:55] bobby-brennan commented on #112
Added to web demo, and alpha ordering seems to be already supported.

[2017-11-01 17:55] #112 closed

[2017-11-01 17:57] bobby-brennan commented on #114
Closing this since it's coming from json-schema-faker. I don't think it's much of a worry for us outside of increasing the size of the dist file.

[2017-11-01 17:57] #114 closed

[2017-11-01 17:58] bobby-brennan commented on #115
Seems to be working fine in the browser now.

[2017-11-01 17:58] #115 closed

[2017-11-01 18:00] bobby-brennan commented on #122
Since `basePath` is [required in Swagger 1.x](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#52-api-declaration), I'm going to close this.

[2017-11-01 18:00] #122 closed

[2017-11-13 11:12] MikeRalphson commented on #109
@bobby-brennan what do you think to stripping out the current RAML 0.8 support and using https://github.com/mulesoft/oas-raml-converter ? Or is it too heavy-weight to include a whole converter framework?

I think it would work well with your recent transitive conversion changes and give us another output format.

[2017-11-14 16:55] bobby-brennan commented on #109
Using mulesoft/oas-raml-converter sounds like the way to go. I think Mulesoft is more or less the owner of RAML, so we might as well use their solution.

[2017-11-17 08:58] MikeRalphson commented on #140
A more complete option (when available) would be to use the Mulesoft converter to round-trip through RAML 1.0

[2017-11-22 15:59] MikeRalphson commented on #140
The first option works better than I expected (i.e. the output given a Petstore in 3.0 is valid 2.0). If anyone wants to pick this up, an example of the shim code is here https://gist.github.com/MikeRalphson/a14643b0731699516d9f8743ac59e643

[2017-11-27 14:08] zaibon commented on #132
Same error here. I'm trying to install as root user so I shouldn't have any problem of permission.
Using ubuntu and  npm 5.3.0

[2017-11-27 17:46] bobby-brennan commented on #132
Hrm, I'm still unable to repro, also with npm@5.3.0 on ubuntu (14.04)

Any other details you can think of that might help us reproduce/diagnose? In the meantime, `sudo npm install -g api-spec-converter --unsafe-perm=true --allow-root` seems to work.

[2017-11-27 17:51] zaibon commented on #132
`sudo npm install -g api-spec-converter --unsafe-perm=true --allow-root` worked for me too.
I'm using ubuntu as a docker container, don't know if that could impact.
and here is the detail of the distro:
[code]

[2017-11-28 11:59] khaledkbadr commented on #132
I too have the same problem in Fedora

**node:** `v8.9.1`
**npm:** `v5.5.1`

**Distro Details:**
[code]

[2017-11-30 17:49] bobby-brennan commented on #109
First pass using oas-raml-converter here: https://github.com/LucyBot-Inc/api-spec-converter/compare/raml_1?expand=1

It works for the most part, but fails in the browser due to an `fs.readFileSync`. Not sure what the right solution is.

[2017-11-30 19:53] bobby-brennan commented on #140
Here's a first pass: https://github.com/LucyBot-Inc/api-spec-converter/pull/141

I went the other route and just edited the Angular code you found above to make it more friendly. We wouldn't be able to pull in new changes, but it seems a bit safer.

[2017-12-01 15:16] MikeRalphson commented on #109
Are you stubbing out `fs` with something like `browserify-fs` and it's just the sync variant that's the problem? Maybe it can be fixed upstream?

[2017-12-27 16:04] bobby-brennan commented on #109
Update - waiting on this PR to add URL support:

https://github.com/mulesoft/oas-raml-converter/pull/19

[2018-01-02 09:00] munishkr opened #142 "Cannot convert my json to swagger format"
Link to the json file: https://raw.githubusercontent.com/openlayers/openlayers/master/package.json

[2018-01-02 15:31] bobby-brennan commented on #142
That is a package.json for an npm module. What were you expecting to get out?

This library needs RAML or another API specification as input.

[2018-01-02 15:31] #142 closed

[2018-01-11 04:40] codr1 opened #144 "Running Synchronous"
This is more of a question - can I run your functions synchronously?

Also - can I pass an object instead of a file name?   (The use case here is that I just parsed in a file and figured out it is say Swagger 1.2.  I now want to convert it to 2.0, but I don't really want to read it in again).

[2018-01-11 18:05] codr1 commented on #144
...I am trying to convert all the files in a directory.  I need to either run it for each file synchronously or somehow pass in extra data such as the output file name.

[2018-01-11 18:17] bobby-brennan commented on #144
You have a couple options for running this inside a loop:

1. You can use async/await syntax (requires Node v8):

[code]

2. You can use the [async library](https://caolan.github.io/async/) to run the conversions in series or in parallel (`async.series` or `async.parallel`)

For your second question, you do need to pass it a file or URL. The converter needs access to the underlying file because th

[2018-01-22 16:07] fralalonde commented on #132
Same problem on Funtoo. Above solution worked fine. Updating the README with fixed command would be enough IMO.

[2018-01-23 20:31] bobby-brennan commented on #132
Added a note in the README pointing to this issue. I don't think we should encourage _everyone_ to add `--unsafe_perm --allow_root` though

[2018-02-01 11:37] joechicken opened #146 "Example conversion from WADL to swagger not working"
On the linked example https://lucybot-inc.github.io/api-spec-converter/ the WADL example doesn't work.

Specification URL

http://api.apigee.com/v1/consoles/facebook/apidescription?format=wadl
Examples
Source Format
WADL
Destination Format
Open API 2.0 (Swagger)
 Convert!
TypeError: Failed to fetch

Open an issue on GitHub

[2018-02-01 16:12] bobby-brennan commented on #146
Thanks for the report, just needed to change http to https. Should be fixed now.

[2018-02-01 16:12] #146 closed

[2018-02-05 13:30] mkauf opened #147 "Conversion from OpenAPI 3.0 to Swagger 2.0 fails if "components" is missing"
I've tried to convert an OpenAPI 3.0 specification to Swagger 2.0:
[code]

test.json:
[code]

The conversion fails:
[code]

Workaround: Add an empty "components" property, now the conversion succeeds:
[code]

[2018-02-05 17:26] bobby-brennan commented on #147
Thanks for the report, this should be fixed in 2.6.2

[2018-02-05 17:27] #140 closed

[2018-02-06 09:58] mkauf commented on #147
It's fixed, thanks!

[2018-02-06 09:58] #147 closed

[2018-02-08 09:53] milanbr opened #148 "Command line tool : TypeError: Cannot read property 'call' of undefined"
When run:

api-spec-converter pisp.apib --from=api_blueprint --to=swagger_2 > swagger.json

I get:

[code]

[2018-02-14 15:43] bobby-brennan commented on #148
Can you share your apibp file? The command works for me with this one:

https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/Polls%20API.md

[2018-02-28 10:17] steveeJ opened #149 "OAI3 to OAI2 doesn't translate content from resquestBody and responses to consumes/produces attributes"
The spec used for the test is: https://steveej.github.io/slides/zhaw-techtalk-0/demo/defs/3.0_secure-echo.yaml

From OAI3 something like
[code]

should translate to this in OAI2

[code]

However, the conversion result doesn't contain the consumes/produces attributes.

[2018-02-28 21:27] bobby-brennan commented on #149
Thanks for the report, fixed in 2.6.3

[2018-02-28 21:27] #149 closed

[2018-03-12 10:20] MrGuiMan opened #150 "OpenAPI3 "placeholder" feature conversion to swagger2"
[The OpenAPI3 spec](https://swagger.io/docs/specification/media-types/) allows us to specify the same format for multiple media types using placeholders.

Currently, using that syntax would result in simply loosing our content definition once converted to swagger2, with the following log:

Should those placeholders be supported an generate the content types for every supported MIME type supported

[2018-03-12 11:25] Simhadrivijaya commented on #115
{"cause":{},"isOperational":true} i got this error. How to solve this?

[2018-03-12 15:11] bobby-brennan commented on #115
Do you have a link to the specification you're trying to convert?

[2018-03-12 16:50] bobby-brennan commented on #150
I think Swagger 2 supports all MIME types, so hypothetically `application/*` could match an infinite number of types (if you include vendor extensions).

Maybe we could add an option to pass in an array of supported MIME types (without placeholders) which would be expanded by the converter. We could also have a sane default with the most common MIME types.

[2018-03-12 17:42] MrGuiMan commented on #150
That seems reasonable, it also has the advantage of allowing us to throw vendor specific types to the mix

[2018-03-13 13:05] MrGuiMan opened #151 "Allow vendor JSON media types in oai3 to json2 conversion"
Similar to [this change on swagger-codegen](https://github.com/swagger-api/swagger-codegen/pull/5189/files), it would be useful if OpenAPI3 to swagger2 conversion allowed vendor specific json types to pass through to the consumes array.

I've worked on this [here](https://github.com/MrGuiMan/api-spec-converter/pull/1), waiting on a go to propose a pull request

[2018-03-15 11:31] ioggstream opened #153 "Provide a dockerfile."
## I wish

to run this tool via docker

## Instead

a dockerfile is missing

[2018-03-22 16:22] MrGuiMan commented on #151
Fixed by #152 and part of 2.7.0

[2018-03-22 16:22] #151 closed

[2018-04-16 01:01] jakejgordon opened #156 "Converting from API Blueprint to Open API 3 Fails with "Fatal TypeError: Cannot read property 'length' of undefined""
I'm attempting to convert from API Blueprint to Open API 3 via the following command:

```api-spec-converter https://github.com/NemeStats/NemeStats/blob/master/apiary.apib --from=api_blueprint --to=openapi_3 > nemestats_openapi3.json```

This yields the following error:
[code]

Please let me know if there is any other information I can provide. (and thanks for making this openly available!)

[2018-04-17 21:44] bobby-brennan commented on #156
Are you on the latest version?

[code]

That command works fine for me on Ubuntu.

[2018-04-19 19:05] harrychengchen opened #157 "Size limit Attributes missing after conversion"
When converting from swagger 1 to swagger 2, if I have a size limit attribute such as maxItems or maxLength, like this:

`{
        "type" : "array",
        "items" : {
          "$ref" : "Grade"
        },
        "uniqueItems" : true,
        "maxItems" : "13", //<------- This attribute
        "paramType" : "query",
        "name" : "grades"
      }`

It's missing from the result:
`"grades": {

[2018-05-01 21:41] bobby-brennan commented on #157
Thanks for the report. I've opened a pull request in a downstream dependency:

https://github.com/apigee-127/swagger-converter/pull/79

[2018-05-04 14:32] bobby-brennan commented on #157
This is fixed in 2.7.4

[2018-05-04 14:32] #157 closed

[2018-05-25 10:10] ioggstream opened #158 "v3 to v2: strip $ref from Headers"
## Reproduce

  - convert v3 to v2 a spec containing $ref in response headers

[code]

## I expect

  - the v2 "$ref" is removed because it's not a valid swagger spec

## Instead

  - the `headers` in the v2 doc is preserved, thus creating an invalid spec.

[2018-05-25 13:56] ioggstream commented on #158
Currently working on that.

[2018-05-25 15:09] #158 closed

[2018-05-25 20:21] ioggstream opened #160 "v2 securityDefinitions shouldn't have "scheme""
## Reproduce

- convert openapi v3 to swagger the following

[code]

## I expect

[code]

## instead I get
[code]

[2018-05-29 14:05] #160 closed

[2018-05-30 09:21] nsw opened #162 "TypeError: Cannot read property '$ref' of undefined when transfer openapi v3 to swagger v2"
when execute the command :  api-spec-converter openapi-swagger.json --from=openapi_3 --to=swagger_2 > swagger-v2.json
got an error
Fatal TypeError: Cannot read property '$ref' of undefined

[2018-05-30 09:26] MikeRalphson commented on #162
Are you able to share your input document via a gist etc?

[2018-05-30 12:35] nsw commented on #162
@MikeRalphson  something like :

schema:
     $ref: '#/components/schemas/User'

[2018-05-30 12:44] MikeRalphson commented on #162
@nsw That's really not enough to go on. `$ref`s are handled by the converter ok.

[2018-05-31 12:14] nsw commented on #162
@MikeRalphson For example, if I have a API apec which don't have an associated schema, it will generate this error: Fatal TypeError: Cannot read property '$ref' of undefined

{
    "info": {
        "title": "Nodejs",
        "version": "1.0.0"
    },
    "openapi": "3.0.0",
    "paths": {
        "/articles": {
            "get": {
                "operationId": "ArticleController.getAll",

[2018-05-31 12:15] nsw commented on #162
@MikeRalphson By the way i use version 2.7.6 ..

[2018-05-31 14:09] bobby-brennan commented on #162
@nsw thanks for the minimal example, I was able to reproduce using that. Published a fix in 2.7.7

[2018-05-31 14:09] #162 closed

[2018-05-31 15:41] nsw commented on #162
@bobby-brennan   Thanks for the quick fix ! Super efficient.  It works as expected now :) :)

[2018-06-05 17:40] kappj opened #163 "External references do not work."
All of my schemas are in separate files. It would be awesome if an external reference to these schemas in my OAS 3 spec could be resolved by the converter.

Ex:
[code]

Converting the above currently doesn't work and fails with the following:

[code]

[2018-06-15 22:07] trilom opened #164 "Incorrect OpenAPI 3 to Swagger 2 Conversion with Enums"
I am attempting to use an Enum as described here
https://swagger.io/docs/specification/data-models/enums/ for OAS3.  (Here is the same page for OAS2 https://swagger.io/docs/specification/2-0/enums/) and store it in #/components/schemas for reuse.

Given the following sample OAS3 template:
[code]

This validates fine.  However, after running the following command to convert:

[code]
The resulting S

[2018-06-17 06:39] rithvikvibhu commented on #79
Any update on this?

[2018-06-19 17:09] bobby-brennan commented on #164
Thanks for the detailed report and minimal repro example. Looks like we weren't resolving the `$ref` in parameter schemas. Fixed now, and added your example as a test case.

The fix is available in 2.7.8 - let me know if you have any further issues.

[2018-06-19 17:09] #164 closed

[2018-06-20 23:00] trilom commented on #164
🤙arigatou for the quick response 🙏

In the complex example above, this is the result:

[code]
Here is the resulting swagger 2.0 file.  As you can see, some of the information is duplicated.  It doesn't really bug me in my case, but it does produce some level of warning that might be an issue.
[code]
In a more complicated example, I get an output of a valid Swagger 2.0 file, and the OAS 3 file is v

[2018-06-21 20:27] bburtin opened #166 "Support for $ref to external file broken in 2.7.8"
The recent changes in api-spec-converter 2.7.8 broke my ability to reference an external JSON schema.  Reverting to 2.7.7 solved my problem.  Would be great to get this fixed in the next release.  Thanks in advance!
[code]
Here's the relevant snippet from my OpenAPI schema file.  I tried both "Id.yaml" and "./Id.yaml".  They both fail in the same way.

[code]

[2018-06-25 17:58] niculistana opened #167 "Error: Invalid protocol: localhost"
Hello,

I was wondering if support for locally served api specs is going to be part of the roadmap. The reason being is that I'd like to test swagger 2 doc conversion while developing my api locally without having to deploy the api project.

The api I am developing currently uses an old version of https://github.com/springfox/springfox/ which auto-generates swagger version 1.

Thanks again for thi

[2018-06-25 18:01] bobby-brennan commented on #166
Can you share your external YAML files as well?

Are the external $refs actually getting included when you use 2.7.7, or are they being silently ignored?

[2018-06-25 23:07] niculistana commented on #167
nvm, appended `http:` to localhost, and it worked.

[2018-06-25 23:07] #167 closed

[2018-07-08 08:33] shahzaibijaz opened #169 "how to resolve this error"
How to resolve this error plz help me its urgent

error: Can't set headers after they are sent.
   at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:356:11)
   at ServerResponse.header (F:\project fyp\node_modules\express\lib\response.js:767:10)
   at ServerResponse.send (F:\project fyp\node_modules\express\lib\response.js:170:12)
   at F:\project fyp\app.js:126:6
   at Layer.handle [

[2018-07-09 14:09] bobby-brennan commented on #169
This doesn't look like it has anything to do with `api-spec-converter`, sorry.

I think your problem is with `express`. You're probably calling `res.send()` twice.

[2018-07-09 14:09] #169 closed

[2018-07-19 16:48] bburtin commented on #166
Here's a minimal schema that reproduces the problem.
`~/B/w/a/issue166 (api-spec-converter-issue-166|✔) $ cat issue166.yaml
openapi: 3.0.0

paths:
  '/api/v2/user/{id}':
    get:
      tags:
        - User
      summary: Get user
      operationId: user.get
      parameters:
        - name: id
          in: path
          schema:
            $ref: Id.yaml
~/B/w/a/issue166 (api-spec-converter-issue

[2018-07-19 17:50] fenollp commented on #166
How about `$ref: 'Id.yaml#'` instead of just  `$ref: Id.yaml`?

[2018-07-19 21:12] bobby-brennan commented on #166
Thanks for the details, Boris. This should be fixed in 2.7.9 - let me know if you are still seeing issues.

[2018-07-19 21:44] bburtin commented on #166
Thanks Bobby.  After running *npm install LucyBot-Inc/api-spec-converter#v2.7.9*, I still get a parsing failure.  I modified the code, so that it logs the exception (the XXX part below) and see this:
[code]
Looks like a config issue with YAML parsing?  If I reference a JSON file, it works fine.

[2018-07-20 14:34] bobby-brennan commented on #166
My fault - I only tested JSON, not YAML. Pushed a fix and a YAML test case in 2.7.10 - hopefully that does the trick.

[2018-07-20 16:08] bburtin commented on #166
That did it!  Thanks for the quick fix.

[2018-07-20 16:08] #166 closed

[2018-07-24 09:44] Piwaii opened #170 "Items' type of Array is not set"
**Problem :** We are converting the apib below. It contains an array of User but the section "schema.items" is empty so we get a array of null as a result.

**Solution :** fill the "schema.items" section with the items' type definition

**apib file**
[code]
**json file**
[code]

[2018-07-24 16:05] bobby-brennan commented on #170
Thanks for the report. I opened an issue in our dependency, apib2swagger:

https://github.com/kminami/apib2swagger/issues/31

[2018-07-24 20:04] bobby-brennan commented on #170
FYI - looks like this should fix it:

https://github.com/kminami/apib2swagger/issues/21#issuecomment-283377315

[2018-07-24 23:42] AzureArchitecture opened #171 "error converting wadl to any"
http://13.91.110.139:8080/distone/rest/service?_wadl

[2018-07-31 16:37] bobby-brennan commented on #171
The client seems to have trouble fetching that URL, but you can download it locally and convert using the CLI.

[2018-08-06 19:30] DavidBiesack opened #172 "--order openapi should include `openapi` and `servers`"
For openapi_3 output, the `openapi` order should include `openapi` at the top of the list, and `servers` after `info`, etc. as per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#openapi-object , so that converting `--to=openapi_3` puts those values in the expected place.

[2018-08-07 08:12] mieszkomalawski commented on #148
Same here, when converting from openapi_3 to swagger_2

[2018-08-09 08:22] bobvanderlinden opened #174 "swagger_1 -> swagger_2: Unrelated tags based on path are added"
When converting a swagger_1 spec to swagger_2, unrelated tags are being added in addition to the tags that are defined in the swagger_1 specification. I cannot find a way to disable this behaviour.

This is because of the following option:

https://github.com/LucyBot-Inc/api-spec-converter/blob/17a6fbe0af166b373c9b0cdce1d29c51985c7f04/lib/formats/swagger_1.js#L22

This is a bit confusing, because

[2018-08-09 18:32] canvural commented on #148
Same happens to me. From `api_blueprint` to `openapi_3`

[2018-08-13 13:52] hannesgeodan opened #175 "OAS 3 -> Swagger 2: `produces` is converted incorrectly when using `default` responses key."
In OAS3 we specified the expected responses of our api as follows:

[code]

However, when we convert this (using 2.7.10) to Swagger 2 markup, we get this:

[code]

However, we expected to get this:

[code]

So, the `produces` keyword is filled incorrectly (wrongly sorted and filtered).

[2018-08-14 11:13] henryyonathan90 opened #176 "No type after converting array model from swagger 1.2 to 2.0"
First, thanks for this awesome tools, it really helps when we want to use swagger-codegen from swagger 1.2.

Unfortunately we faced with an issue where the resulting swagger 2.0 missing the type field if it is an array of object.

So here is the source spec:

[code]
and here is the corresponding result:

[code]
*rest of the json is omitted for simplicity.

Using this converted json in swagger-code

[2018-08-14 21:28] bobby-brennan commented on #175
Thanks for the report. This should be fixed in v2.7.11

[2018-08-15 06:52] hannesgeodan commented on #175
@bobby-brennan  Thanks for your quick fix! I upgraded and tested it, and it works! Perfect.

[2018-08-16 06:15] henryyonathan90 commented on #176
Hi Bobby,

Ok sure, I have filed an issue there https://github.com/apigee-127/swagger-converter/issues/80.

Thanks!

Henry

[2018-08-16 06:15] #176 closed

[2018-08-16 12:23] ron-totango opened #177 "Unable to convert open API 3 to 2"
Tried to convert https://int-hub.totango.com/integration-hub-api_openApi.json and failed

[2018-08-20 11:29] mieszkomalawski commented on #148
Unfortunately I cannot share because definition contains company internal APIs, maybe @milanbr or @canvural  can?

[2018-08-21 16:03] bobby-brennan commented on #177
Can you share more details? This command works fine for me:

[code]

[2018-08-21 16:03] #175 closed

[2018-08-21 16:38] bobby-brennan commented on #153
Done. Here's the usage:

[code]

[2018-08-21 16:38] #153 closed

[2018-08-21 16:54] ioggstream commented on #153
Thanks @bobby-brennan!

[2018-08-21 17:30] ron-totango commented on #177
nevermind. Managed without this

[2018-08-21 17:30] #177 closed

[2018-09-04 19:13] kennas opened #179 "Convert (back port) from OpenAPI 3.0 -> OpenAPI 2.0"

[2018-09-05 10:50] jimmyshiau opened #180 "How to use dummy data with command line"
As title

[2018-09-10 13:59] #172 closed

[2018-09-12 08:09] vertti opened #181 "Improve error message"
Running `api-spec-converter --from openapi_3 --to swagger_2 src/swagger.yml --syntax yaml` gives me:

[code]

which is really not helpful. Why not print the "format" that you tried to parse there?

[2018-09-25 17:58] vaskevich opened #182 "Transitive inclusion of `should` mutating Object prototype"
One issue with #139 is that v2.9.2 of `openapi-spec-converter` transitively includes the `should` package at runtime via `swagger2openapi`, which mutates the Object prototype and can cause runtime errors. This extends to this package.

I merged a fix to the offending package (https://github.com/Mermade/oas-kit/pull/83) but the issue is that it's on v3.2.10 now, and I think that needs some work for

[2018-09-28 06:02] YouHang opened #183 "Support openapi3.0 to swagger2.0 with `oneOf` feature?"
When I use `api-spec-converter --from=openapi_3 --to=swagger_2 --syntax json --order=alpha swagger.json > swagger2.0.json`, I found it cannot  change `oneOf`(only support in 3.0) to a swagger 2.0 suitable format.

[2018-10-01 11:13] danielrentz opened #184 "OpenAPI 3: Support "in: cookie" in securitySchemes"
According to the spec, it is possible to add cookie-based authentication:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#securitySchemeObject
https://swagger.io/docs/specification/authentication/cookie-authentication/

But using that with this library results in

[2018-10-04 17:05] bobby-brennan commented on #183
Yes, downgrading to 2.0 will generally be lossy. There's nothing we can do for the lack of `oneOf` support in 2.0

[2018-10-04 17:05] #183 closed

[2018-10-04 17:16] MikeRalphson commented on #184
I have a vague recollection this was a bug fixed some time ago in `swagger2openapi`, so should be fixed as part of #182

[2018-10-04 17:19] bobby-brennan commented on #182
Thanks for tracking this down Mike.

Unfortunately browserify chokes on the latest `oas-validator` due to `tweetnacl` using `process.versions.node`. Working on a fix...

[2018-10-04 17:20] bobby-brennan commented on #184
Yup, looks like the latest version of oas-validator has `cookie` in the relevant enum. Once #182 is fixed this should be fixed as well.

[2018-10-05 09:56] MichelTenVoorde opened #185 "OpenAPI 3 -> OpenAPI 2 conversion, convert explode to collectionFormat"
We're having some issues converting our OpenAPI 3 spec to OpenAPI 2.

The OpenAPI 2 **collectionFormat** has been replaced by **explode** in the OpenAPI 3 specification. It would be helpful if the converter would support this.

See:
- https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object
- https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.m

[2018-10-22 18:16] bobby-brennan commented on #185
This should be fixed in 2.7.13 - we're using the combination of `style` and `explode`  [seen here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#style-examples) to set `collectionFormat` - let me know if anything looks off

[2018-10-22 18:16] #185 closed

[2018-10-22 18:17] #171 closed

[2018-10-22 18:18] bobby-brennan commented on #163
I believe this was fixed in 2.7.12 - let me know if you see otherwise.

[2018-10-22 18:18] #163 closed

[2018-10-22 18:19] #144 closed

[2018-10-22 18:21] #137 closed

[2018-10-24 09:49] MichelTenVoorde commented on #185
@bobby-brennan Thanks for the fix!
I think there are 2 remaining issues:
- the explode parameter ends up in the output as well, I think it should be deleted.
- an `explode = false` is only converted to `collectionFormat = csv` when there's a `style = form` as well. However, `style = form` is default for query parameters, so even when `style` is omitted, `explode` should be converted.

Thanks again

[2018-10-24 16:41] bobby-brennan commented on #185
Good catch - deleted both `explode` and `style`, and set the default `style` according to the spec. It will also only select `collectionFormat` if `type == 'array'` now

[2018-10-25 12:18] zhemant opened #187 "unable to install commandline tool"
[code]

Any help on how to resolve this issue. I installed latest npm, nodejs.

[2018-10-25 13:36] zhemant commented on #187
Was able to solve the issue after installing nodejs-legacy.

[2018-10-25 13:36] #187 closed

[2018-11-02 15:07] tonyneel923 opened #188 "When trying to install npm throws error"
An outdated dependency seems to be throwing:
npm ERR! 403 Requested item is quarantined: static-eval@0.2.3

Is there a way this could be updated?

[2018-11-08 20:34] bobby-brennan commented on #188
This sounds like you might be using a corporate registry that has quarantined `static-eval`. My guess is that an update won't help if your organization has blacklisted this package.

[2018-11-13 07:16] MikeRalphson opened #189 "deps; Update sway to ^2.0.5"

[2018-11-13 08:36] 1dal commented on #132
```yarn global add api-spec-converter``` works for me.

[2018-11-13 16:59] MikeRalphson commented on #189
@bobby-brennan If I raise a PR for this (it passes tests) do you want `package-lock.json` included in the PR?

[2018-11-19 16:44] mjfort commented on #132
As of November 19, 2018, even yarn doesn't work...  on Ubuntu 16.04 LTS container.

root@8ef453a7a36c:/# yarn global add api-spec-converter
yarn global v1.12.3
warning You are using Node "4.2.6" which is not supported and may encounter bugs or unexpected behavior. Yarn supports the following semver range: "^4.8.0 || ^5.7.0 || ^6.2.2 || >=8.0.0"
[1/4] Resolving packages...
warning api-spec-converte

[2018-11-19 17:24] fivepapertigers opened #191 "OpenAPI 3 -> 2: Support common parameters"
The OpenAPI spec in V3 and V2 allow for specifying operations at the `path` level in addition to the `operation` level.

See: https://swagger.io/docs/specification/describing-parameters/#common
Also: https://swagger.io/docs/specification/2-0/describing-parameters/#common

However, this plugin does not seem to convert parameters at the path level from 3.X spec to 2.X spec. This is causing an issue

[2018-11-19 18:04] bobby-brennan commented on #132
Per the warning, can you try upgrading node? api-spec-converter only supports v6+

[2018-11-23 07:38] janpieper commented on #148
[code]

[2018-12-01 13:03] yossy-ok opened #193 "Unable to convert Open API 3 of multipart/form-data requestBody to Swagger 2"
I'm attempting to convert from Open API 3 to Swagger 2.
But I realized the converted schema has a few errors for requestBody `multipart/form-data` parameters.

My original schema is
[code]

and converted schema is

[code]

Actually in Swagger 2, form data parameters schema should be defined individually, like

[code]

See Also:
- https://swagger.io/docs/specification/describing-request-body/file-u

[2018-12-03 17:36] #191 closed

[2018-12-04 08:31] terziisk opened #194 "Error during conversion swagger 1.2 to 2.0"
Put url address that returns list of api (swagger 1.2):
`{"apiVersion":"WC.SERVER Enterprise Version : 8 Fix Pack : 1","swaggerVersion":"1.2","apis":[{"path":"https:\/\/wpl-live-qa.whirlpool.eu:443\/wcs\/resources\/api\/resource\/WHRAutoSuggestCmd"},{"description":"This class provides RESTful services to get order history and order details.","path":"https:\/\/wpl-live-qa.whirlpool.eu:443\/wcs\/res

[2018-12-04 11:35] terziisk commented on #194
Sorry, i  tried to test local resource.

[2018-12-04 11:35] #194 closed

[2018-12-04 15:55] bobby-brennan commented on #148
Thanks for the details!

Unfortunately I wasn't able to trigger the error by setting a query parameter to `integer` - any more details you can share on how to reproduce?

[2018-12-14 21:03] swbuehler opened #195 "Installation Issue"
installation is returning the following output:

[code]

[2018-12-14 21:09] bobby-brennan commented on #195
Installation was successful here.

You can run `npm init` to get rid of the `WARN` statements

I also just published `2.7.19`, which updates the deps with high/critical vulnerabilities

[2018-12-14 21:10] #195 closed

[2018-12-14 22:57] swbuehler opened #196 "Error converting Google discover to swagger 2"
[code]

[2018-12-17 20:40] bobby-brennan commented on #196
Hi Steven,

The error says it all - that URL returns a 404:

[https://photoslibrary.googleapis.com//rest?version=v1](https://photoslibrary.googleapis.com//rest?version=v1)

[2018-12-17 20:40] #196 closed

[2018-12-17 20:42] bobby-brennan commented on #196
It looks like you wanted the literal URL, `https://photoslibrary.googleapis.com/$discovery/rest?version=v1`. You need to escape the `$` in bash, so:

[code]

[2019-01-02 16:04] bobby-brennan commented on #193
Thanks for the report, I agree with your diagnosis. This is fixed in 2.7.21

[2019-01-02 16:04] #193 closed

[2019-01-07 18:32] vaskevich commented on #182
Hi @bobby-brennan, were you able to figure this out?

[2019-01-07 21:18] bobby-brennan commented on #182
Funny, I was just [discussing this issue with Mike](https://github.com/Mermade/oas-kit/issues/122#issuecomment-451884529).

I haven't found a way to fix this, though I've chased it down to `better-ajv-errors`, specifically [this file](https://github.com/atlassian/better-ajv-errors/blob/a4a52574b238e9e38b03313178e5b8daae3db432/index.js#L3)

I do think moving to webpack would fix the issue, but I ha

[2019-01-08 00:53] vaskevich commented on #182
Ok, I tried to take a stab at it real quick but wasn't sure how to validate. There's `--insert-global-vars` flag in browserify, but looking further it seems that it uses this process Package, which sets up an empty object for `process.versions`: https://github.com/defunctzombie/node-process/blob/master/browser.js#L160. It could be reasonable to add 'node' in there with a value corresponding to the

[2019-01-09 16:01] MikeRalphson commented on #182
@bobby-brennan I've managed to re-create the fix as it would apply to `v2.9.2`, backported one other fix which showed up in testing and released a `v2.9.3`. I've removed `coveralls` as a `devDependency` which seems to completely remove `tweetnacl` from the `package-lock.json`.

Hope this helps.

[2019-01-21 06:41] hongwei1 opened #198 "the online tool support upload file from local computer"
Please support the local files,
https://lucybot-inc.github.io/api-spec-converter/
I really need upload some file and covert it online.

[2019-01-21 08:12] MikeRalphson commented on #198
If you have an urgent requirement, you could look at https://www.apimatic.io/transformer

[2019-01-22 06:56] gregie156 opened #199 "Internal path references don't work"
The OpenAPI 3 below is valid. You can test it on https://editor.swagger.io/
However, when I try to convert it to Swagger 2, I get a stacktrace (see below).
I am on windows 10; api-spec-converter v 2.7.23

Example Specs:
[code]

Stacktrace:
[code]

[2019-02-06 17:29] bobby-brennan commented on #199
Thanks for the report, as well as the minimal repro case. This was an issue with resolving refs including a `/` character (which is [apparently escaped as ~1](https://tools.ietf.org/html/rfc6901#page-3)).

Fixed now in `2.7.25`

[2019-02-06 17:30] #199 closed

[2019-02-11 14:08] gregie156 commented on #199
@bobby-brennan thanks for fixing this.
It's not intuitive (to say the least) that slashes are escaped as ~1. Who knows how they came up with that :)

[2019-02-11 21:07] MikeRalphson commented on #182
@bobby-brennan I've backported another fix regarding `links` and created `v2.9.4` as I needed this for APIs.guru. It would be great to get this dependency updated.

[2019-02-12 17:59] michaelyfan opened #201 "Converting an object without a URL"
On my server I have an openapi3.0 JSON string, received from the client, that I've parsed with `JSON.parse`. I'd like to convert this object to swagger2.0, but it seems that `api-spec-converter` only supports filepaths and URLs that lead to JSON files, and not JS objects or strings that represent JSON. Is there any way to do this in `api-spec-converter`? No other library I can find supports conver

[2019-02-13 15:54] bobby-brennan commented on #201
Yes, I believe this is possible. You can see [index.js](https://github.com/LucyBot-Inc/api-spec-converter/blob/master/index.js) for usage

Something like this should work:
[code]

[2019-02-13 16:07] bobby-brennan commented on #182
Sorry, which package is now at `2.9.4`?

[2019-02-13 16:09] MikeRalphson commented on #182
`swagger2openapi` has a bugfix release on this branch.

[2019-02-13 16:26] bobby-brennan commented on #182
OK, I just published `api-spec-converter@2.7.29` which uses `swagger2openapi@2.9.4`

To be sure - I didn't update `./lib/formats/openapi_3.js` to use `oas-validator`. Hopefully the issue is still fixed.

@vaskevich can you confirm?

[2019-02-13 16:43] nivg1992 opened #202 "OAS3 -> swagger 2: source object Cannot read property 'startsWith' of undefined"
I convert from openapi 3 to swagger 2.
with source object
[code]

I recived the error TypeError: Cannot read property 'startsWith' of undefined
on the file openapi3_to_swagger2.js
[code]
to solved the problem i changed to:
[code]
this is a bug? or I'm missing something?

[2019-02-13 17:11] bobby-brennan commented on #201
Sorry, this was incorrect. You can actually pass an object as `source` using the code in the README, but this is currently broken for oai3 -> swagger2. Closing this in favor of #202

[2019-02-13 17:12] #201 closed

[2019-02-13 17:14] bobby-brennan commented on #202
Thanks! This is a bug. Fixed now in 2.7.30

[2019-02-13 17:14] #202 closed

[2019-02-15 06:52] MikeRalphson commented on #182
"2.9.*" should be safe and allow additional patch releases for api-spec-converter.

[2019-02-15 14:45] bobby-brennan commented on #182
OK - pinned to `2.9.*` in `api-spec-converter@2.7.31`

Thanks for the fix Mike!

[2019-02-15 22:54] vaskevich commented on #182
This has now been resolved; closing. Thanks again!

[2019-02-15 22:54] #182 closed

[2019-02-25 03:04] seetamraju opened #203 "OAS3 -> Swagger 2: TypeError: Formats[format] is not a constructor"
api-spec-converter --from=swagger_3 --to=swagger_2 --syntax=yaml --order=alpha https://api.swaggerhub.com/apis/org.ASUX.playground/SwaggerHub-OAS3.0-PetStore/1.0.0

On MacOS (tried the website to convert, but it just hung).

/usr/local/lib/node_modules/api-spec-converter/node_modules/drafter.js/lib/drafter.nomem.js:1
(function (exports, require, module, __filename, __dirname) { ((function(f){if(ty

[2019-02-25 07:05] MikeRalphson commented on #203
Try `--from=openapi_3`

[2019-02-26 16:53] #203 closed

[2019-04-04 20:51] JohnSZhang opened #208 "Npm Audit Failure"
2 of the dependencies of api spec converter 2.7.32, google-discovery-to-swagger and raml-to-swagger, both require an out-dated version of jsonpath/static-eval that has security vulnerabilities. (see https://www.npmjs.com/advisories/758 and https://www.npmjs.com/advisories/548).

Can you update your dependencies so they are no longer vulnerable?

[2019-04-08 15:04] kgrubb commented on #208
The npm audit review:
![Screen Shot 2019-04-08 at 11 01 56 AM](https://user-images.githubusercontent.com/8471701/55734570-c7758600-59ed-11e9-9634-01f0dbbb692a.png)

Looks like google-discovery-to-swagger and raml-to-swagger aren't really maintained anymore. Perhaps there are other modules that can be used instead?

[2019-04-12 13:09] bobby-brennan commented on #208
Thanks all. I updated some deps using `npm audit fix --force`, and opened issues in google-discovery-to-swagger and raml-to-swagger. Those packages are still maintained (they were built by the same folks working on `api-spec-converter`), just quiet.

[2019-04-12 13:10] #188 closed

[2019-04-12 13:11] bobby-brennan commented on #184
I believe this is fixed now. Closing.

[2019-04-12 13:11] bobby-brennan commented on #156
Closing due to inactivity - feel free to reopen with more info

[2019-04-12 13:11] #156 closed

[2019-04-17 07:41] Vanderhoof opened #209 "API Blueprint -> Swagger 2.0, no info about models (resources)"
When converting from API blueprint to Swagger 2.0, all the information about resources and models is ignored. For instance, I look at [this API Blueprint example](https://github.com/apiaryio/api-blueprint/blob/master/examples/Gist%20Fox%20API%20%2B%20Auth.md), here's the `definitions` I get after converting it into swagger:

[code]

But the resource definition in Blueprint looks like this:

[code]

[2019-04-17 08:59] MikeRalphson opened #210 "Converters remove nulls from API definitions"
This line looks like a bit of a blunt instrument:

https://github.com/LucyBot-Inc/api-spec-converter/blob/3298201c273436d22da6b0af9a7c3fd373f603ee/lib/util.js#L79

In the case of Swagger 2.0 and OpenAPI 3.x `null` values are allowed in examples and specification-extensions.

Is there a specific reason for their forced removal, or could any checking be moved back into the relevant formatters?

[2019-04-19 23:16] kminami commented on #209
Hi, I'm a developer of [apib2swagger](https://github.com/kminami/apib2swagger) one of the dependencies of `api-spec-converter`.
The reason definitions are blank is the `Model` section doesn't include `Schema` or `Attributes` section (only an example of body is included).

Recently, I apply the `schema estimation from examples` logic to Model section at `apib2swagger@1.9.0`.
Please try it, but the

[2019-04-22 15:07] Vanderhoof commented on #209
@kminami thank you, now it's much better!

Now if I take the more isolated example (and without faulty JSONs) [11. Resource Model.md](https://github.com/apiaryio/api-blueprint/blob/master/examples/11.%20Resource%20Model.md), I see this in definitions:

[code]

So there are both `"My Message": {},` and `"My MessageModel": {...`. I may be wrong but shouldn't it just be `"My Message":` but with all t

[2019-04-23 20:41] bobby-brennan commented on #210
@IvanGoncharov implemented this I believe.  Removing `=== null` doesn't change any of the test cases. I'm all for removing.

[2019-04-23 20:46] bobby-brennan commented on #209
I updated to `apib2swagger@1.9.0` in the latest version (`2.8.2`). I'd suggest moving the rest of this issue over to the apib2swagger repo

[2019-04-23 20:46] #209 closed

[2019-04-24 05:16] MikeRalphson commented on #210
Thanks, will raise a PR.

[2019-04-30 20:10] #210 closed

[2019-05-03 20:04] ianfixes opened #212 "Fatal TypeError: Error during conversion: oldType.trim is not a function"
I'm using this library for the first time, version `2.8.3`.  I'm attempting to convert `https://api.newrelic.com/v2/definitions.json` from Swagger 1.1 to 2 (or higher, but I see that conversion to 2.0 is the first step in that process).

Steps to reproduce:

[code]

Am I making any obvious mistake here?  I saw https://github.com/LucyBot-Inc/api-spec-converter/issues/122 but in this case my spec ha

[2019-05-03 20:52] bobby-brennan commented on #212
Coming from here: https://github.com/apigee-127/swagger-converter/blob/949a9b724f10bfe3bf44e5f316e390379120c672/index.js#L340

Looks like you've got something weird in one of your types, like an object or an array. Not sure if arrays were allowed in Swagger 1 - if so you can open a bug against `swagger-converter`.

[2019-05-03 20:52] #212 closed

[2019-05-03 20:52] bobby-brennan commented on #212
(Also, if it is a bug, reopen this issue and we'll pull in the latest `swagger-converter` when they fix it).

[2019-05-04 00:17] ianfixes commented on #212
Will do, and thanks for the quick response!

[2019-05-08 07:24] mbabazadeh commented on #132
sudo npm install -g artillery --unsafe-perm=true --allow-root
Worked for me too :) It saved my whole day!

[2019-05-13 13:50] delfrrr opened #213 "openapi_3 to swagger_2 incorect nullable conversion"
**test-openapi.yaml**

[code]

Then run

[code]

Outputs

[code]

Expected output:

[code]

[2019-05-13 17:05] bobby-brennan commented on #213
Thanks for the report! Happy to accept a PR here - relevant file is `lib/converters/openapi3_to_swagger2.js`

[2019-05-28 14:25] RCBiczok commented on #208
Feel free to ask for help 👍

[2019-06-04 09:00] gunters63 commented on #148
I had the same problem and added another line in bluebirds promise.js (line 658) to track the problem down:

` console.log(JSON.stringify(reason, null, 4));`

This is the error message I got:

[code]

After a change all line-endings to LF (unix) the converter worked

[2019-06-20 12:18] lucamaf commented on #132
worked for me as well

[2019-06-26 14:53] danielrentz commented on #184
Still happens with v2.8.3

[2019-06-28 21:56] BelfordZ opened #216 "Add OpenRPC Support"
See https://open-rpc.org for details.

[2019-07-08 14:19] bobby-brennan commented on #216
OpenRPC looks very cool. Happy to accept a PR here.

[2019-07-15 23:54] BelfordZ commented on #216
Feel free to assign me to this issue. Ill chip away at getting one together. Thanks for your time!

[2019-07-18 08:32] cjolif commented on #208
Per company rules I can't use this module because of this. If you can't get the dependencies fixed, wouldn't  an easy fix on your side be to make those dependencies optional? Right now I don't convert from RAML or Google Discovery so I don't even need those packages but there are not optional and raise a red security flag :(

[2019-07-18 12:39] bobby-brennan commented on #208
That's a great idea! Looks like we'd just have to edit the code a bit to handle missing `optionalDependencies`.

I won't have time in the near future to get to this, but will happily accept a PR.

[2019-07-18 14:03] cjolif commented on #208
@bobby-brennan you're all set if you want to review see #218

[2019-07-24 10:24] pedroscaff opened #219 "Converter somehow breaks process events / stacktracing"
I am using version `2.8.3` and, after requiring the module, somehow the events and error stack traces break. I can't listen to process events anymore and the stack trace is not there.

node version: `v12.6.0`

Steps to reproduce:

[code]

expected output:
[code]

current:
[code]

[2019-07-24 10:26] pedroscaff commented on #219
if I use a wrapper function to convert, I can have it as a module and using `child_process.fork(...)` works correctly and doesn't break the process (since it is not the same process anymore).

[2019-07-24 12:48] bobby-brennan commented on #219
Yeah, I've seen this before. I think this is an issue with the API blueprint parser. https://github.com/apiaryio/drafter-npm/issues/4

With the recent switch to optionalDependencies, you should be able to delete `node_modules/apib2swagger` (assuming you're not using API blueprint) to fix the issue.

[2019-07-24 14:17] pedroscaff commented on #219
Thanks for the quick answer! I updated to `2.9.0` but still the same, the blueprint fails because `apib2swagger` is missing but the package that is causing the issue is `drafter.js`, and it is required before the `apib2swagger` in `lib/formats/api_blueprint.js` :(. Commenting out `require('drafter.js')`  fixes the bug / removing `drafter.js` as well. I couldn't find `drafter.js` being used anywher

[2019-07-24 14:39] bobby-brennan commented on #219
Yup, I think adding drafter as optional is perfectly fine, since it's only used by APIBP

[2019-07-24 15:14] pedroscaff commented on #219
I am happy to do it, should I make a PR with this change?

[2019-07-24 16:34] bobby-brennan commented on #219
That'd be great, thanks!

[2019-07-25 13:24] #219 closed

[2019-07-26 07:52] SyedNomi commented on #132
Works on Ubuntu
**sudo npm install -g artillery --unsafe-perm=true --allow-root**

[2019-08-06 11:35] azizzoaib786 commented on #132
Works on ubuntu as well ..
npm install -g artillery --allow-root --unsafe-perm=true

[2019-08-06 11:42] nomi-shah commented on #132
Works on Ubuntu
sudo npm install -g artillery --unsafe-perm=true --allow-root

[2019-08-08 15:58] ByronGarrido commented on #132
Thanks a lot, it worked for me!

[2019-08-17 00:35] subratamazumder commented on #132
worked for me on Mac as well `sudo npm install -g artillery --unsafe-perm=true --allow-root`
👍

[2019-08-23 11:50] peterhut commented on #148
Encountered the same issue trying to convert the apibp file downloaded from https://gost1.docs.apiary.io/
[gost1.apib.txt](https://github.com/LucyBot-Inc/api-spec-converter/files/3534274/gost1.apib.txt)

[2019-08-26 12:27] tafm commented on #213
i dont think that array of types its valid swagger 2, "nullable: true" should be simply removed instead

[2019-08-27 11:43] rajnishtech commented on #132
What is the min node version need to install?

[2019-08-27 11:57] rajnishtech commented on #132
what is the min node and npm version need to install

[2019-09-02 10:08] ManishBhatiCD commented on #132
Not worked for me on mac
sudo npm install -g artillery --unsafe-perm=true --allow-root

[2019-09-18 12:24] blazekv commented on #148
I had same problem as @gunters63 . File was saved with CRLF. Saving file as Unix style solves the problem.

@rbren IMHO It will be sufficient to handle error message and raise more specific message. Original error message is really confusing.

[2019-09-20 14:00] pondermatic opened #226 "writeOnly field in openapi_3 to swagger_2"
When an OpenAPI 3 spec is converted to Swagger 2, `writeOnly` fields are not processed.

For request properties:
- `writeOnly` fields should be removed

For response properties:
- `writeOnly` fields should be removed
- the property should be removed

I will try to make a PR for this issue.

[2019-09-26 13:58] redtux commented on #98
I know this is an old issue, but I am still having the same problem. It is nice that the README mentions that you (atm – i.e. some years ago!) cannot convert to WADL, but it would be great if `api-spec-converter --help` (and maybe even the error message) would also tell us so. :smiley_cat:

[2019-10-10 08:47] mbohgard opened #228 "openapi_3 > swagger_2: oneOf converts to {}"
In the following schema excerpt:

[code]
...the resulting schema looks like this:
[code]

[2019-10-11 15:33] rbren commented on #228
Unfortunately, `oneOf` is not supported in swagger 2.

[2019-10-22 19:49] spiderten opened #233 "teste"
teste

[2019-10-22 21:23] rbren commented on #233
Is this a real issue?

[2019-10-22 21:23] #233 closed

[2019-11-08 18:24] rbren commented on #182
I'm still seeing `{}`.should defined _but only in the browser tests_ when I pin to `2.9.4`

@vaskevich it looks like the [same thing occurred](https://travis-ci.org/LucyBot-Inc/api-spec-converter/builds/583859721?utm_source=github_status&utm_medium=notification) when you originally wrote the test.

Is object mutation also a problem in-browser?

[2019-11-08 18:27] vaskevich commented on #182
Weird, maybe something else is setting it? Not sure.

[2020-01-09 12:44] niklase opened #247 "Failed to convert OpenAPI3 json to Swagger 2.0"
JSON in OpenAPI 3.0.1 format:

{"servers":[{"url":"https://example.com:443/v1/demo-uc-1/api"}],"info":{"license":{"url":"/","name":"Your licence of choice"},"title":"demo-1","version":"version"},"paths":{"/replaceMeResource":{"post":{"responses":{"201":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"Successful creation of item"}},"tags":["replaceMeResource"],"requestBod

[2020-01-16 13:24] chris-ep opened #248 "Only one ref is resolved by openapi3 to swagger2."
Hello,

i have a issue by the convert of a openapi3 to swagger2 api documentation.
For me its look like that only one #ref is resolved if one component is referenced more then once.

For example i have create a simple file:

[code]

If i try to convert this file the result is:

[code]

Only at the first endpoint the body is present on the second endpoint the body is missing.

[2020-01-29 17:15] juliosouzaneto opened #249 "teste"
{"openapi":"3.0.1","info":{"title":"API Integração SAOG","description":"Api's de integração com os serviços SAOG","contact":{"name":"Elizangela Xavier","email":"excbalbino@sp.gov.br"},"version":"1.0.14"},"servers":[{"url":"http://192.168.65.85","description":"Generated server url"}],"paths":{"/api/v1/solicitacoes/aceitas":{"get":{"tags":["solicitacao-controller"],"summary":"Lista Solicitações Acei

[2020-01-31 21:58] rbren commented on #249
Not sure what the issue is here - feel free to reopen with more details.

[2020-01-31 21:58] #249 closed

[2020-03-03 17:11] edmundo096 commented on #208
They also could be on `peerDependencies` instead.

Based on the reading of the peer dependencies https://npm.github.io/using-pkgs-docs/package-json/types/peerdependencies.html, the formaters could be considered as plugins that the user should install manually as per requirement.

Furthermore, `npm audit` doesn't audits peers dependencies: https://docs.npmjs.com/auditing-package-dependencies-for-se

[2020-03-09 08:38] eonie opened #251 "TypeError: Cannot read property 'description' of undefined"
When I convert openapi 3 to swagger_2, I got an error,
[code]
Because some parameters in OpenAPI 3 content does not have `description` property, converter try to get description from parameter's schema properties, but `schema` property also undefind, then converter throw the error.
[code]
Here is the source code , which locate in `openapi3_to_swagger2.js`, from line 224.
[code]
I thind the `schema

[2020-03-09 13:22] rbren commented on #251
Thanks! Happy to accept a PR

[2020-03-11 01:47] eonie commented on #251
I saw travis ci build failed  because of test error, but it was passed on my computer.
Do I need push `test/output/swagger_2/common_params.json` to repo?

[2020-03-28 09:55] baoduy opened #254 "Support Typescript"
Hi, This is a very useful tool and it is great if supporting typescript.

Thanks
Duy

[2020-03-28 18:10] rbren commented on #254
That's a great idea. Happy to accept any PRs for ts support.

[2020-03-29 01:23] cstit opened #255 "aa"

[2020-03-29 01:23] cstit commented on #255
comment

[2020-03-29 01:23] cstit commented on #255
comment

[2020-03-29 01:23] #255 closed

[2020-04-20 18:07] MicaelGil opened #256 "swagger"
fffasff

[2020-04-23 19:32] zhenfangwu opened #257 "online version https://lucybot-inc.github.io/api-spec-converter/ didn't work with error "TypeError: Failed to fetch""
The online version at https://lucybot-inc.github.io/api-spec-converter/ didn't work with error "TypeError: Failed to fetch".
Here is the swagger json format:
{
  "openapi": "3.0.1",
  "info": {
    "title": "sample",
    "version": "v1"
  },
  "paths": {
    "/api/test": {
      "get": {... ... }
    }
  },,
  "components": {
    "schemas": {... ...}
  }
}

![image](https://user-images.githubuserc

[2020-04-24 02:54] lwu-gd-china opened #258 "Conversion from OpenAPI 3.0 to Swagger 2.0"
Hi, guys. Does this project support the conversion from OpenAPI 3.0 to Swagger 2.0? Too many tools only support Swagger 2.0 and we hope it can do it.

[2020-04-29 22:48] rbren commented on #257
Most likely you have CORS disabled for that URL. You should try the CLI tool.

[2020-04-29 22:48] #257 closed

[2020-04-29 22:49] #256 closed

[2020-04-29 22:50] rbren commented on #258
Yes, we can down-convert to 2.0. But be aware that the conversion is lossy - some things won't be converted.

[2020-04-29 22:51] #258 closed

[2020-05-04 15:18] sytolk commented on #248
This not work for me too: https://gist.githubusercontent.com/sytolk/e7ee6715e9d3949569b4a76749d3848c/raw/d1c97e5f1fc74fc8616668fb6eb77c6bd58296ad/gistfile1.txt

[2020-05-05 09:46] random-robbie opened #260 "WADL to Swagger2 - Fatal AssertionError [ERR_ASSERTION]: The expression evaluated to a falsy value:"
[code]

[2020-05-07 13:32] munishpathania opened #261 "Not able to convert OpanAPI 3.0 to Swagger"

[2020-06-09 12:00] markdbuck opened #263 "WADL to Swagger not handling urlencoded parameters?"
WADL input snippet-> https://gist.github.com/markdbuck/633714485213b00287b95bd2b1461399

SWAGGER output snippet->https://gist.github.com/markdbuck/2a42efefd65c27ee841288cbddedd8f2

POST parameters which are defined as urlencoded are missing from converted swagger.

Am I missing something or is this a bug?

[2020-06-10 10:27] ac931274 opened #264 "TypeError: Failed to fetch"
I tried to convert the following URL and it failed with the above error.
https://foxhill.deskpro.com/api/docs

I have attached the file for ease of reference.
[docs.txt](https://github.com/LucyBot-Inc/api-spec-converter/files/4757842/docs.txt)

Any ideas why this failed?

[2020-06-11 17:07] rbren commented on #264
Was this on the website?

Likely the URL has CORS enabled - if you use the CLI it should convert fine.

[2020-06-11 17:09] rbren commented on #263
Probably a bug. The [conversion logic is here](https://github.com/LucyBot-Inc/api-spec-converter/blob/master/lib/formats/wadl.js)

[2020-06-16 19:38] michael-evenchick opened #265 "Security Vulnerabilities are present in this library"
When we try to utilize this library we get moderate level security vulnerabilities based on the dependencies

[2020-06-25 06:56] thenorthernpole commented on #248
I would be happy to get an update - this makes the converter functionality useless in practical terms.

[2020-06-25 20:51] rbren commented on #248
This seems like a legitimate bug - thanks for providing a test case!

Unfortunately I don't have much time to devote to api-spec-converter these days, but would be happy to review a PR here.

[2020-06-25 21:05] thenorthernpole commented on #248
Thanks for the update @rbren.
I am willing to give it a try, will you be kind to give me a few pointers?

Thanks!

[2020-06-25 21:11] rbren commented on #248
👍 My guess is the issue is somewhere in this function: https://github.com/LucyBot-Inc/api-spec-converter/blob/master/lib/converters/openapi3_to_swagger2.js#L64

Definitely in that file.

[2020-06-25 21:16] thenorthernpole commented on #248
Will give it a try! Thanks!

[2020-06-30 19:31] thenorthernpole commented on #261
Could you please provide an example?

[2020-07-01 21:24] thenorthernpole commented on #248
@sytolk and @chris-ep - I fixed the issue. Please check the fix :-)

[2020-07-22 08:59] julianfruth opened #272 "style attribute in response header after conversion from OpenAPI3.0 to Swagger2.0"
When i convert a OpenAPI 3.0 Swagger Document to Swagger2.0 there is the style attribute in the response headers. When i try to validate (with https://editor.swagger.io/) the converted Swagger2.0 documentation, i get a error.

Error form editor.swagger.io:
[code]

Part of OpenAPI 3.0 bevore conversion:
[code]

Part of Swagger 2.0 after conversion:
[code]

[2020-08-03 12:15] rbren commented on #265
Ran `npm audit fix`, should be OK now.

[2020-08-03 12:15] #265 closed

[2020-08-03 12:18] rbren commented on #208
Dependencies are optional now. `npm audit fix` has also been run. Happy to reopen if there's anything here I missed.

[2020-08-03 12:18] #208 closed

[2020-08-14 14:41] rolandleth opened #274 "Exploit found"
Googled a bit, but couldn't find much about it, was wondering if you know anything related? Found by ClamXav:

<img width="772" alt="Screenshot 2020-08-14 at 5 40 43 PM" src="https://user-images.githubusercontent.com/1858700/90261215-56ea3f00-de55-11ea-9c96-6b2dbecd8d7d.png">

[2020-08-27 18:27] rbren commented on #274
Thanks!

I've run `npm audit fix`, and it's reporting 0 known vulns. Feel free to reopen if you're still seeing a vuln

[2020-08-27 18:27] #274 closed

[2020-08-27 18:27] rbren commented on #264
Closing due to lack of info

[2020-08-27 18:27] #264 closed

[2020-09-29 21:11] mdirkse opened #278 "OpenAPI 3 -> Swagger 2.0 conversion sometimes makes the securityDefinitions disappear"
Hi,

I'm using the project to convert an OpenAPI 3 spec to Swagger 2 (for use in GCP's API Gateway). I'm noticing that the convertor will make the `securityDefinitions` top level element disappear if any paths reference a schema object definition. Let me give 2 examples:

If I input the following:
[code]
I get the following (as expected):
[code]

However, if I include an endpoint with a reference

[2020-10-02 19:00] myspec opened #279 "example value changed after convertion from OpenAPI3.0 to Swagger2.0"
[code]

converted to

[code]

[2020-10-03 08:55] MikeRalphson commented on #279
Probably due to `js-yaml` not having good separation between YAML 1.1 and 1.2 features. Worth looking at `yaml` module as an alternative.

[2020-12-03 11:29] joepeding commented on #136
@rbren This issue has been solved in swagger-converter version 2.0.0.

[2020-12-04 12:14] BigGillyStyle opened #281 "Security Vulnerabilities"
We are using version 2.11.2 of this library, and there are several security vulnerabilities flagged by `npm audit` that are a result of this package's dependency tree.

Node: 12.20.0
NPM: 7.0.15

[code]

[2021-01-09 04:15] PrimeFactor7 opened #284 "i.readFile is not a function"

[2021-01-09 04:16] #284 closed

[2021-01-13 12:41] ravitHuber opened #285 "Unable to convert openapi3 with multipart body ref to swagger2"
I'm attempting to convert from Open API 3 to Swagger 2.
I have paths defined with multipart, and their parameters are defined in schema ref
The output of swagger2 is missing the multipart/form-data body ref declaration

origin open api 3
[code]

swagger 2 output:
[code]
In the swagger 2 output there are also few body definitions without usage.
My actual flow of actions was to take swagger2 with mu

[2021-01-26 16:20] carlheinmostert opened #288 "Failed to fetch file"
I have published a test file to 3 different cloud platforms and made it public.
I simply get "failed to fetch" error.

source: https://1drv.ms/u/s!AmIDEGUxMpBGheFFL9VtnFGD8tdDuw?e=tHieW1

please help!

Thanks
Carl

[2021-01-26 16:40] carlheinmostert commented on #288
Rather use this link to azure:   https://jsedatalake.blob.core.windows.net/foundrylogs/New%20Text%20Document.json?sp=r&st=2021-01-26T15:58:48Z&se=2021-01-26T23:58:48Z&spr=https,http&sv=2019-12-12&sr=b&sig=hw%2FLqD2Z5ZZSx%2FTnfdkLpj82Qas3DCZwtELHGrpqsVo%3D

[2021-01-27 13:15] jokesterfr commented on #281
Up, this is a concern for my team as well. What can we do to help @rbren?

[2021-01-28 13:45] rbren commented on #281
Just pushed a new version, 2.9.4 - `npm audit` is showing no issues there. Thanks!

[2021-01-28 13:45] #281 closed

[2021-02-10 00:02] rbren commented on #288
When I load the azure link I get
[code]

[2021-02-11 14:38] AndresLopez420 opened #290 "Api_wiseconn"
[](url)

[2021-02-11 14:39] #290 closed

[2021-02-12 10:09] acabarbaye opened #291 "openapi_3 to swagger_2 incorect nullable conversion"
#213 solves most cases but if `nullable` was set to false in an OpenAPI3 specification file then the translation to `"x-nullable":<value>` is not performed
example:
[code]

[2021-02-12 11:53] acabarbaye opened #292 "openapi_3 > swagger_2 - links in responses are not removed"
links are a new feature of openapi3 and not present in swagger 2
however, when converting from the former to the later, the links remain:
e.g.
[code]

[2021-02-12 12:17] acabarbaye opened #293 "openapi_3 > swagger_2 - referenced schema in headers"
in swagger 2, headers must have a type and cannot referenced to a separate object definition
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#header-object

type | string | Required. The type of the object. The value MUST be one of "string", "number", "integer", "boolean", or "array".

whereas in OAS 3 it is possible,

https://github.com/OAI/OpenAPI-Specification/blob/maste

[2021-02-19 02:35] lukepighetti opened #294 "anyOf not resolving"
We have about 20 classes that are coming in with the AnyOf keyword as a prefix. The API spec is OpenAPI v3. I saw a commit here that looked like it was supposed to handle this. Is this expected behavior?

<img width="533" alt="Screen Shot 2021-02-18 at 9 34 02 PM" src="https://user-images.githubusercontent.com/666539/108449173-094df500-7231-11eb-95ce-8ec348485030.png">

[2021-02-19 02:36] lukepighetti opened #295 "Object.listFromJson"
The code generation is trying to access `Object.listFromJson` which is not a valid method. Spec is OpenAPI v3.

<img width="566" alt="Screen Shot 2021-02-18 at 9 35 15 PM" src="https://user-images.githubusercontent.com/666539/108449271-339fb280-7231-11eb-8f5a-498010e90629.png">

Is this the expected behavior?

[2021-02-19 19:53] rbren commented on #295
I'm not sure where this code came from, but I don't think it was this project.

[2021-02-19 19:53] #295 closed

[2021-02-19 19:54] rbren commented on #294
I think you have the wrong project.

[2021-02-19 19:54] #294 closed

[2021-02-21 13:35] lukepighetti commented on #295
Big mistake on my part, this was meant for a different repo.

[2021-02-21 13:35] lukepighetti commented on #294
Big mistake on my part, this was meant for a different repo.

[2021-02-22 14:54] vgorlove opened #296 "openapi_3 -> swagger_2 Included ref file not resolved in properties"
common-entities.yaml remained unresolved in resulting swagger_2 output:

openapi: 3.0.1
components:
  schemas:
    CancelRequestEventPayload:
      type: object
      properties:
        resource_id:
          $ref: 'common-entities.yaml#/components/schemas/EntityID'
================================================
swagger: '2.0'
definitions:
  CancelRequestEventPayload:
    properties:
      reso

[2021-03-05 04:52] chimung opened #299 "Does support convert from RAML 1.0"
I got error when convert raml1.0 to swagger_2
[code]
Thanks

[2021-03-22 18:23] tezhangmsvan opened #302 "o3tos2"

[2021-03-29 12:54] kevinoid opened #303 "openapi_3: Support for OpenAPI 3.1"
api-spec-converter 2.12.0 fails to convert an [OpenAPI 3.1.0](https://spec.openapis.org/oas/v3.1.0) document with the following error:

    Fatal Error: Unsupported version
        at /path/to/api-spec-converter/lib/base_format.js:157:15
        at tryCatcher (/path/to/api-spec-converter/node_modules/bluebird/js/release/util.js:16:23)
        at Promise._settlePromiseFromHandler (/path/to/api-spec

[2021-04-15 17:20] davenull311 commented on #132
FWIW, `sudo npm install -g api-spec-converter --unsafe-perm=true --allow-root` worked for me just now (April 2021) on a Mac. Thanks all!

[2021-05-06 10:06] jparadeiser-spar commented on #288
Same issue, but found a workaround
- upload to dropbox shared folder
- open in dropboxweb and download the file
- open the browser downloads section (CTRL+J in chrome)
- copy the full path of this download and paste it into https://lucybot-inc.github.io/api-spec-converter/

Still, it would be good if it would also work form a public webserver or pastebin etc.

[2021-05-17 17:21] skylarosac opened #310 "api-spec-converter doesn't convert types in my xsd"
Hello everyone! I am using version 2.12.0 but I have a problem converting my wadl to openapi 3.0.
In detail, the problem is that the converter does not solve the xsd referenced with:
<grammars>
<include href = "file.xsd" />
</grammars>

either as:

<xsd: schema>
<xsd: import namespace = "http://www.myns.it" schemaLocation = "file.xsd" />
</ xsd: schema>
and as response in output it inserts only ht

[2021-06-01 07:32] UjifPro opened #312 "1"

[2021-06-01 07:32] #312 closed

[2021-06-15 08:03] straninho1 opened #315 "devo convertire un file da swagger 3.0 a 2.0"

[2021-06-30 14:36] sambhunath opened #316 "TypeError: Failed to fetch"

[2021-07-14 17:53] kofalt opened #317 "Promise error thrown on conversion to some formats"
Hi there - very neat project!
Trying this out with a fairly large OpenAPI 3.0.2 spec file.

Works great converting down to v2, throws a promise error trying for v1.
Easy way to reproduce:

[code]

Here's the stack trace:

[code]

Might be there's a more important error being missed due to the async call? Not sure.

[2021-07-22 13:24] jpara commented on #288
sadly, this does not work anymore. Can you please investigate?
TypeError: Failed to fetch
- is this becuase of the content (openapi: 3.0.1) or
- because the source file cannot be accessed?
Thank you

[2021-08-23 06:22] netnr opened #322 "Operation XXXX has multiple requestBodies"
api-spec-converter --from=swagger_2 --to=openapi_3 --syntax=json --order=alpha https://xxxx > swagger.json
Fatal Error: Operation XXXX has multiple requestBodies

[2021-08-31 03:53] sheltondeng opened #323 "should convert allOf / oneOf / anyOf"
allOf/oneOf are useful in oas3 to extend a basic entity. we could merge all items into an object to replace them.

[2021-12-07 17:18] H31S3nb3rg-0x00 opened #324 "Error try to fetch"
Error: TypeError: NetworkError when attempting to fetch resource.
Api trying to fectch https://docs.nvidia.com/networking-ethernet-software/cumulus-linux-44/api/openapi.json
https://docs.nvidia.com/networking-ethernet-software/cumulus-linux-44/api/
thanks for help

[2021-12-08 13:39] zsergey85 opened #325 "https://"

[2021-12-08 13:40] #325 closed

[2022-01-19 05:48] francisizme commented on #254
@rbren , Do we have any guidance about contributions? Or just push a PR for you guys to check and merge?

[2022-02-24 21:47] MeToRaFRev opened #333 "Dealing with large payloads"
hey,
i have got a big swagger
around 50k lines
and library just crashes while i try to use the node
[err.txt](https://github.com/LucyBot-Inc/api-spec-converter/files/8136594/err.txt)

[2022-03-16 06:12] 1MrSharma opened #338 "Conversion from Open API 3.0 to Open API 2.0 Swagger"
Below is screen shot for converting my [OpenAPI 3.0 file](https://tikit.azurewebsites.net//swagger/v1/swagger.json)
to concurrent OpenAPI 2.0 swagger document.
![image](https://user-images.githubusercontent.com/44487846/158527527-c805ac50-0b0d-4e67-bb25-1a9c3c1946fb.png)

[2022-05-09 17:53] markgregory opened #342 "Failed to fetch file"
Can't 'fetch' online json file.

[2022-05-18 02:45] wuzechen commented on #278
Same thing

[2022-06-20 16:34] nomasprime opened #344 "High vulnerability?"
[code]

[2022-07-15 14:17] #254 closed

[2022-08-04 06:30] kezhiyang opened #347 "the example value not convert"
from openapi 3.0
![image](https://user-images.githubusercontent.com/9025742/182778212-0eeb6bbd-543c-4556-9d23-737251030db5.png)
to swagger 2.0
![image](https://user-images.githubusercontent.com/9025742/182778528-f53c06fd-ddb0-4cbd-80b4-440b62d08b0b.png)
not example value

[2022-09-06 20:09] Merouane1 opened #348 "how to convert open api 3.1 to swagger 2.0"

[2022-09-14 06:54] Lantianyou commented on #322
Having the same issue here

[2022-09-29 20:31] rutabagaman opened #349 "Online version returns TypeError: NetworkError when attempting to fetch resource."
https://lucybot-inc.github.io/api-spec-converter/

Select the following options:
Spec: https://developer.lightboxre.com/sites/default/files/apidoc_specs/Geocoding_14.yaml
From: Swagger 3.0
To: Swagger 2.0

Returns error:
TypeError: NetworkError when attempting to fetch resource.

[2022-10-06 08:37] tonniekrijger opened #351 "Sequence of schema fields are always ordered alphabetical"
When converting from OAS3 to Swagger 2 the sequence of the fields is lost. I would be so happy that reponse/request schemas keep the sequence as how they are defined as they are defined so by a reason.

[2022-11-16 19:18] cal4 opened #353 "Add original sort order as top fields ordering"
Idea here is to add a option to the `--order` field. The usage would be to produce a document where the order of the to-document matches the order of the from-document as closely as possible.

This may not apply for disjoint formats, but could be useful when converting from OpenAPI 2 to 3 (and vice-versa). Results in less scrolling when comparing documents.